@charset "UTF-8";

article.progect_info{
	margin: 18px 50px;
	border: 1px solid #009000;
}
article.progect_info div{
	margin: 0px 0px 18px 0px;
}
div.progect_info_main div.progect_titile{
	width: 22em;
	margin: 0px 0px 18px 0px;
}
div.progect_info_main div.progect_titile h2{
	margin: 5px;
}
div.progect_info_main div.progect_titile p{
	margin: 5px;
	text-align: right;
	font-size: 15px;
}
div.progect_info_main div.progect_info_introduce{
	max-width: 70em;
	margin: 18px 2em;
}
/*  pic_map */
#map_list{
	display: block;
}
#map_pic{
	width: 370px !important;
	display: inline-block;
}
#map_pic img{
	width: 369px;
	margin-left: 0px;
	margin: 0px !important;
}
#announce{
	border: 1px solid #009000;
	background-color: #009000;
	color: white;
	font: bold 20px sans-serif;
	text-align: center;
	padding: 6px;
}
div.progect_titile_list{
	display: inline-block;
	width: 324px;
}
div.progect_titile_list div.progect_titile{
	width: 22em;
	margin: 0px 0px 5px 0px;
}
div.progect_titile_list div.progect_titile h2{
	margin: 5px;
	font-size: 21px
}
div.progect_titile_list div.progect_titile p{
	margin: 5px;
	text-align: right;
	font-size: 15px;
}
.progect_info_detail td{
	border: solid 1px #000000;
	vertical-align: middle;
	text-align: left;
}
.progect_info_detail table{
	margin: 20px;
}
/*
化学生命：#f4b3c2
1部化学研究部/神楽坂
2部化学研究部/神楽坂
理工学部化学研究会/野田
理系女子開発プロジェクト リケチェン！
2部生物研究部/神楽坂
野老(トコロ)実験クラブ＋秋津研究室or竹村研究室/神楽坂
ちびラボ
*/
.org_color_chemistry{
	background-color: #f4b3c2;
}
/*
数学：#cca6b
一部数学研究部/神楽坂
2部数学研究部/神楽坂
近代科学資料館/神楽坂
*/
.org_color_math{
	background-color: #cca6bf;
}
/*
物理宇宙地球かんきょう：#fef263
1部2部天文研究部/神楽坂
1部物理研究会/神楽坂
基礎工学部飯田研究室
地球科学研究部/神楽坂
文具研究同好会
*/
.org_color_geoscience{
	background-color: #fef263;
}
/*
機械電気ロボット：#89c3eb
機械工学研究会/野田
ものづくりサークルCreate/野田
AircraftMakers/野田
1部無線研究部有志/神楽坂
*/
.org_color_industrial{
	background-color: #89c3eb;
}
