extends /layout/index.pug

append head
  title 会場アクセス|科学へのトビラ|東京理科大学みらい研究室
  link(rel='stylesheet', href='../../june.css')

block path
  | ホーム >> イベント情報 >> みらい研究室 ～科学へのトビラ～ >> 会場アクセス

block article
  section
    h1 会場アクセス
    |           
    dl
      dt 会場
      |             
      dd 東芝未来科学館
      |             
      dt 所在地
      |             
      dd 神奈川県川崎市幸区堀川町 72番地 34
      |             
      dt 海抜(標高)
      |             
      dd 2.3 m
    |           
    p
      | JR川崎駅西口より徒歩１分
      br
      |             京浜急行線京急川崎駅下車 徒歩７分
    |           
    iframe(width='600', height='400', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3246.8741288845313!2d139.69229941538484!3d35.53210808022928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018607f3b3678ab%3A0x8c3ae1855a70ddc9!2sToshiba+Science+Museum!5e0!3m2!1sen!2sjp!4v1493644512718')
    |           
    p 会場にお越しの際は、公共交通機関をご利用ください。

prepend sidebar
  ul.color_june
    li
      a(href='index.html') イベント概要
    |             
    li
      a(href='exhibition.html') 企画案内
    |             
    li
      a(href='access.html') 会場アクセス
