extends /layout/index.pug

append head
  title 科学へのトビラ|東京理科大学みらい研究室
  link(rel='stylesheet', href='../../date.css')
  link(rel='stylesheet', href='../../june.css')
  link(rel='stylesheet', href='./resource/css/table_style.css')

prepend header
  - var active = 'event'

block article
  section
    h1 6月開催　みらい研究室 ～科学へのトビラ～
    |           
    p
      | みらい研究室実行委員会主催イベント
      br
      |  「科学へのトビラ」2017年も開催決定！！
    |           
    h2 みらい研究室 ～科学へのトビラ～について
    |           
    p
      | 小中学生に科学の楽しさを伝えたいという思いを胸に、
      br
      |             東京理科大学の学生が集まり2006年から毎年開催している科学体験イベントです。
      br
      |             今年は、東芝未来科学館で初開催！！
    |           
    h2 日時
    |           
    table.eventdate
      tr
        th 日時：
        |               
        td
          | 6/10, 11　(10：00～17：00) 
          br
          |                 （受付終了   16：30）
      |             
      tr
        th 場所：
        |               
        td 東芝未来科学館　(2Ｆ、3Ｆ)
    |           
    p(style='text-align: center;')
      | 子供と大人が一緒に楽しめる企画が充実！
      br
      |  ぜひ保護者の方と一緒にお越しください！
      |             
      br
      |  みらい研究室実行委員一同、心よりお待ちしております。
      |             
      br
    |           
    h2 イベント当日の諸注意
    |           
    ul
      li 材料がなくなり次第終了となるブースがございます。
      |             
      li 企画内容は予告なく変更することがございます。
      |             
      li
        | 整理券を配布しているブースがございます。整理券は先着順となりますのでお早めにお越しください。
    |           
    h2 お問い合わせ
    |           
    table
      tr
        td 東京理科大学広報課
        |               
        td
          a(href='tel:0352288107') 03-5228-8107
      |             
      tr
        td 東芝未来科学館
        |               
        td
          a(href='tel:0445492200') 044-549-2200

prepend sidebar
  ul.color_june
    li
      a(href='index.html') イベント概要
    |             
    li
      a(href='exhibition.html') 企画案内
    |             
    li
      a(href='access.html') 会場アクセス
