extends /layout/index.pug

append head
  title 科学へのトビラ|東京理科大学みらい研究室
  link(rel='stylesheet', href='../../date.css')
  link(rel='stylesheet', href='../../june.css')

prepend header
  - var active = 'event'

block article
  section
    h1 ６月開催　みらい研究室 ～科学へのトビラ～
    |           
    p(style='text-align: center;')
      | 毎年６月にお台場の日本科学未来館で開催される、
      br
      |  みらい研究室実行委員会主催イベント
      |             
      br
      |  「科学へのトビラ」２０１４年も開催決定！！
    |           
    table.eventdate
      tr
        th 日時：
        |               
        td 6/7、8　(10：00～17：00)
      |             
      tr
        th 場所：
        |               
        td 日本科学未来館　(1Ｆ、7Ｆ)
    |           
    p(style='text-align: center;')
      | 子供と大人が一緒に楽しめる企画が充実！
      br
      |  ぜひ保護者の方と一緒にお越しください！
      |             
      br
      |  みらい研究室実行委員一同、心よりお待ちしております。
      |             
      br
    |           
    h2 イベント当日の諸注意
    |           
    p(style='text-align: center;')
      | 混雑時、会場内の安全を確保するために入場規制をかけることがあります。ご了承ください。

prepend sidebar
  ul.color_june
    li
      a(href='index.html') イベント概要
    |             
    li
      a(href='about_june.html') ～科学へのトビラ～について
    |             
    li
      a(href='exhibition.html') 企画案内
    |             
    li
      a(href='lecture.html') 講演会
    |             
    li
      a(href='access.html') 会場アクセス
  //
    <nav class="side_navi">
    <ul>
    <li><a href="../members/index.html">企画出展者向け<br>情報提供ページ</a></li>
    <li><a href="../for_freshmen/index.html">新入生向けページ</a></li>
    </ul>
    </nav>
