extends /layout/index.pug

prepend contentSecurityPolicy
  - var defaultSrc = ['\'unsafe-inline\'']
  - var connectSrc = []

append head
  link(rel='stylesheet', href='index.css')
  script(src='index.js')
  title 東京理科大学みらい研究室

prepend header
  - var active = 'home'

block eyecatcher
  section(style='position: relative; height: 320px; width: 100%; margin-bottom: 20px;')
    div(aria-hidden='true', style='position: absolute; height: 100%; width: 100%;')
      .slideshow-active(style=`background-image: url(${require('./slide/event_2013_june.jpg')});`)
      .slideshow-inactive(style=`background-image: url(${require('./slide/event_2012_june.jpg')});`)
      .slideshow-inactive(style=`background-image: url(${require('./slide/miraikan.jpg')});`)
    p.eyecatcher-caption
      | 理科が好き。だから、伝えたい。

block article
  .article-caption
    p 東京理科大学の学生がキャンパスを飛び出し科学体験イベントを開催!
    p 小中学生に科学の楽しさを伝えます。
  section(style='margin-top: 3em;')
    h1 イベント
    p みらい研究室ではそれぞれ3月と6月にイベントを開催しています。
    p 次回は来年、2018年3月です。イベントの情報を受け取るにはメールマガジンを購読してください。
  section
    h1 メールマガジン
    p
      | みらい研究室実行委員会では、無料メールマガジンに登録された読者のみなさんに、
      | イベントの情報をお伝えするオフィシャルメルマガをお届けしています。
    p 登録はこちらから
    div(style='background-color: #ff5959; border: 3px #ff5959 solid; width: 230px; color: #fff; border-radius: 10px; margin: 10px auto;')
      a(href='https://docs.google.com/forms/d/1SxT0K75k7zmAiiIT_slalMUZn2I9Fw0931Ri1USYuO8/viewform',
        style='display: block; background-color: inherit; text-decoration: none; font-size: 17px; font-weight: bold; padding: 15px 0; text-align: center; color: inherit;')
        | メールマガジン登録
  section
    h1 更新情報
    dl
      dt 2017年9月2日
      dd Webページの見直しを完了しました。
      dt 2017年8月
      dd
        | Webページの作成、管理を
        a(href='kagucho.html') 神楽坂一丁目通信局
        | が引き継ぎ、刷新を開始しました。
      dt 2015年
      dd
        | Webページの更新履歴を移動しました。以前の更新情報は
        a(href='web_update_log.html') こちら
