doctype html
html
  head
    meta(charset='UTF-8')
    |   
    title 2015年までのWebページ更新情報
    |   
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
    |   
    link(rel='stylesheet', href='common/layout.css')
  body
    section.news
      h1.pagetitle 2015年までのWebページ更新情報
      |     
      p
        | 現在は
        a(href='https://ja.wikipedia.org/wiki/Git') git
        | でWebページを管理しているのでこの表は更新しません。
        br
        |       
        a(href='https://github.com/miraiken/web/commits/gh-pages') https://github.com/miraiken/web/commits/gh-pages
        br
        |       を御覧ください
      |     
      table#update
        tr
          th
            time(datetime='2015-06-02') 2015年06月12日
          |         
          td
            a(href='./event/2015/event_june/science_show.html') 10周年企画のサイエンスショーページ
            | に当日の詳細を追記
            br
            |           
            a(href='./event/2015/event_june/pinhole_camera.html') 針穴写真実験についてのページ
            | を作成
            br
            |           
            a(href='https://miraiken.github.io/before2013/index.html') 2013年以前のHPのファイル一覧を更新
        |       
        tr
          th
            time(datetime='2015-05-18') 2015年05月18日
          |         
          td
            a(href='./event/2015/event_june/index.html') 201506のイベントページ
            | に開催時刻を記載
            br
            |           
            a(href='./event/2015/event_june/science_show.html') 10周年企画のサイエンスショーページ
            | にチャーリー西村さんのプロフィールを掲載、表記修正
            br
            |           
            a(href='./for_freshman/index.html') 新歓TOP
            | の予定表を更新
        |       
        tr
          th
            time(datetime='2015-05-16') 2015年05月16日
          |         
          td
            a(href='./event/2015/event_june/science_show.html') 10周年企画のサイエンスショーページ
            | を修正
        |       
        tr
          th
            time(datetime='2015-05-11') 2015年05月11日
          |         
          td
            a(href='./event/2015/event_june/science_show.html') 10周年企画のサイエンスショーページの申し込みページ
            | を作成。その他微調整
        |       
        tr
          th
            time(datetime='2015-04-20') 2015年04月20日
          |         
          td
            | 誤字修正。TOPページの新歓メルマガへのリンクを削除。
            a(href='./for_freshman/planning_department.html') 新歓企画班ページ
            | 作成
        |       
        tr
          th
            time(datetime='2015-04-19') 2015年04月19日
          |         
          td 誤字修正。TOPページの新歓メルマガへのリンクを削除。
        |       
        tr
          th
            time(datetime='2015-04-15') 2015年04月15日
          |         
          td
            a(href='./for_freshman/index.html') 新入生向けページTOP
            | を改善
            br
            |           
            a(href='./for_freshman/public_relations_department.html') 新入生向けページ広報班紹介ページ
            | を作成。
            br
            |  HP管理をgitに移行
        |       
        tr
          th
            time(datetime='2015-04-08') 2015年04月08日
          |         
          td
            a(href='./for_freshman/index.html') 新入生向けページTOP
            | の企画班と広報班の概要説明が入れ替わっていたのを修正
            br
            |  前日の「2015年6月のイベントの日時が誤っていたのを修正」が修正しきれてなかったのを修正。申し訳ありませんでした。
            |           
            br
            |  6/6, 6/7の二日間です。
        |       
        tr
          th
            time(datetime='2015-04-07') 2015年04月07日
          |         
          td
            a(href='./for_freshman/index.html') 新入生向けページTOP
            | に部費の情報を掲載、今後の予定を追記
            br
            |  2015年6月のイベントの日時が誤っていたのを修正
        |       
        tr
          th
            time(datetime='2015-04-07') 2015年04月07日
          |         
          td
            a(href='./for_freshman/index.html') 新入生向けページTOP
            | をとりあえず完成させました
        |       
        tr
          th
            time(datetime='2015-04-03') 2015年04月03日
          |         
          td
            | 過去のイベント情報を
            a(href='event/index.html') アーカイブし
            | ました。これに伴い一部ディレクトリ構造が変わります。
            br
            |           
            a(href='./event/2015/event_june/index.html') 201506のイベントページ
            | を作成しました。
            br
            |           
            a(href='./for_freshman/index.html') 新入生向けページ
            | を作成しました(白紙)
            br
            |           
            a(href='link/index.html') chibi lab.へのリンク
            | を修正
            br
            |  いまさらのように
            |           
            a(href='./event/2015/event_march/exhibition.html') 企画詳細
            | のバグ修正
        |       
        tr
          th
            time(datetime='2015-03-13') 2015年03月13日
          |         
          td
            a(href='./event/2015/event_march/exhibition.html') 企画詳細
            | の文具研究同好会の企画一覧を変更しました。
        |       
        tr
          th
            time(datetime='2015-03-12') 2015年03月12日
          |         
          td
            a(href='./event/2015/event_march/exhibition.html') 企画詳細
            | 更新しました。
            br
            |           
            a(href='./event/2015/event_march/about_march.html') ～オドロキ科学箱～について
            | を更新しました。
        |       
        tr
          th
            time(datetime='2015-02-24') 2015年02月24日
          |         
          td
            | メルマガ登録画面へのリンク追加
            br
            |           
            a(href='./event/2015/event_march/exhibition.html') 企画詳細
            | 更新しました。
        |       
        tr
          th
            time(datetime='2014-12-16') 2014年12月16日
          |         
          td
            | 3月開催の
            a(href='./event/2015/event_march/index.html') オドロキ科学箱のページ
            | 更新
            br
            |           
            a(href='https://miraiken.github.io/before2013/index.html') 2013年以前のHPのファイル一覧
            | を作成
            br
            |  デザイン微調整
        |       
        tr
          th
            time(datetime='2014-12-1') 2014年12月01日
          |         
          td HPを微調整、2013年以前のHPのディレクトリ構造変更
        |       
        tr
          th
            time(datetime='2014-6-7') 2014年06月07日
          |         
          td
            a(href='./event/2014/event_june/lecture.html') 講演会
            | の情報を更新しました！
        |       
        tr
          th
            time(datetime='2014-5-31') 2014年05月31日
          |         
          td
            a(href='./event/2014/event_june/exhibition.html') 企画案内
            | のページを更新しました！
        |       
        tr
          th
            time(datetime='2014-5-17') 2014年05月17日
          |         
          td
            a(href='./event/2014/event_june/lecture.html') 講演会
            | の情報をＵＰしました！
        |       
        tr
          th
            time(datetime='2014-4-13') 2014年04月13日
          |         
          td ホームページをリニューアルしました！
