extends /layout/index.pug

append head
  title 科学へのトビラについて|科学へのトビラ|東京理科大学みらい研究室～科学へのトビラ～
  link(rel='stylesheet', href='../../june.css')

prepend header
  - var active = 'event'

block article
  section
    h1 みらい研究室 ～科学へのトビラ～について
    |           
    p.content_1
      | 私たちみらい研究室実行委員会は、毎年６月、日本科学未来館と連携し２日間に及ぶ科学啓発イベントを行っています。
      br
      |  みらい研は「理科が好き。だから、伝えたい。」をモットーに、小中学生をターゲットとする企画をそろえ、毎年多くの子供たちに来場していただいています。
      |             
      br
      |  2015年は科学へのトビラ10周年ということで、
      |             
      br
      |  チャーリー西村さんによるサイエンスショーやWars & ニソコンなど
      br
      |  様々な特別企画も用意しております。

prepend sidebar
  ul.color_june
    li
      a(href='index.html') イベント概要
    |             
    li
      a(href='about_june.html') ～科学へのトビラ～について
    |             
    li
      a(href='exhibition.html') 企画案内
    |             
    li
      a(href='science_show.html') 特別企画:サイエンスショー
    |             
    li
      a(href='pinhole_camera.html') 特別企画:針穴写真実験
    |             
    li
      a(href='access.html') 会場アクセス
  //
    <nav class="sideNavi">
    <ul>
    <li><a href="../members/index.html">企画出展者向け<br>情報提供ページ</a></li>
    <li><a href="../for_freshman/index.html">新入生向けページ</a></li>
    </ul>
    </nav>
