doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    |   
    title 企画案内|科学へのトビラ|東京理科大学みらい研究室
    |   
    include /google_analytics.pug
    |   
    include /normalize-5.0.0.pug
    |   
    link(rel='stylesheet', href='../../../common/layout.css')
    |   
    link(rel='stylesheet', href='../../june.css')
    link(rel='stylesheet', href='../../project.css')
    |   
    link(rel='stylesheet', href='./resource/exhibition.css')
  body
    #page
      #page_head_back_1
        header#page_head
          .toptitle
            h1.toptitle1
              | 東京理科大学サイエンスフェア学生企画
              br
            |           
            h1.toptitle2 みらい研究室実行委員会
          |         
          nav.global_navi
            ul
              li
                a(href='../../../index.html')
                  | ホーム
                  br
                  | HOME
              |             
              li
                a(href='../../../event/index.html')
                  | イベント情報
                  br
                  | EVENT
              |             
              li
                a(href='../../../contact/index.html')
                  | お問い合わせ
                  br
                  | CONTACT
              |             
              li
                a(href='../../../link/index.html')
                  | リンク
                  br
                  | LINK
              |             
              li
                a(href='../../../for_freshman/index.html')
                  | 新入生向けページ
                  br
                  | for Freshman
      |     
      #page_body
        .topic_path_back
          p.topic_path ホーム >> イベント情報 >> みらい研究室 ～科学へのトビラ～ >> 企画案内
        |       
        #page_body_main
          section-1st_floor
            article#description_nikaken.project_info
              .project_info_main
                .project_titile.org_color_chemistry
                  h2 三分化学実験
                  |                 
                  p 2部化学研究部
                |               
                .project_info_introduce
                  p 小さなお子さんにも楽しんでもらえるような簡単で楽しい化学実験をやっています。実験で作った物は持ち帰ることができます。
              |             
              .project_info_detail
                table
                  thead
                    tr
                      th.no_cell No.
                      |                     
                      th.project_name_cell 企画名
                      |                     
                      th.project_form_cell 企画形態
                      |                     
                      th.target_age_cell 対象年齢
                      |                     
                      th.project_detail_cell 企画内容詳細
                      |                     
                      th.time_required_cell 所要時間(分)
                  |                 
                  tbody
                    tr.first_row
                      td.no_cell 1
                      |                     
                      td.project_name_cell 入浴剤
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_cell 重曹とクエン酸をかき混ぜて、アロマオイルを入れる。エタノールを吹きかけて固めて完成。
                      |                     
                      td.time_required_cell 10
                    |                   
                    tr
                      td.no_cell 2
                      |                     
                      td.project_name_cell スタンプ
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_cell お菓子の型とリモネンを使って発泡スチロールを溶かし、オリジナルスタンプを作り完成。
                      |                     
                      td.time_required_cell 10
                    |                   
                    tr.last_row
                      td.no_cell 3
                      |                     
                      td.project_name_cell 色が変わる紙の花
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_cell コーヒーフィルターで作った花に紫の色素を染み込ませ,ｐH変化で色を変える。花は持ち帰ってもらえる。
                      |                     
                      td.time_required_cell 10
            |           
            article#description_ichikaken.project_info
              .project_info_main
                .project_titile.org_color_chemistry
                  h2 作って、見て、楽しむ化学！
                  |                 
                  p 1部化学研究部
                |               
                .project_info_introduce
                  p 化学をより身近に感じてもらえるような楽しい実験を用意しました。
              |             
              .project_info_detail
                table
                  thead
                    tr
                      th.no_cell No.
                      |                     
                      th.project_name_cell 企画名
                      |                     
                      th.project_form_cell 企画形態
                      |                     
                      th.target_age_cell 対象年齢
                      |                     
                      th.project_detail_cell 企画内容詳細
                      |                     
                      th.time_required_cell 所要時間(分)
                  |                 
                  tbody
                    tr.first_row
                      td.no_cell 1
                      |                     
                      td.project_name_cell 人工いくらを作ってみよう
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell 小学校低学年～
                      |                     
                      td.project_detail_cell アルギン酸ナトリウムと塩化カルシウムを使って人工いくらを作ります。今回はお客様に持って帰っていただきます。
                      |                     
                      td.time_required_cell 5～10
                    |                   
                    tr
                      td.no_cell 2
                      |                     
                      td.project_name_cell 不思議な液体
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell 小学校低学年～
                      |                     
                      td.project_detail_cell メチレンブルーとインジゴカルミンがpHによって変色する様子を見ていただきます。
                      |                     
                      td.time_required_cell 5
                    |                   
                    tr.last_row
                      td.no_cell 3
                      |                     
                      td.project_name_cell アロマキャンドル
                      |                     
                      td.project_form_cell 製作
                      |                     
                      td.target_age_cell 小学校高学年～
                      |                     
                      td.project_detail_cell 自分オリジナルのアロマキャンドルを作ろう。
                      |                     
                      td.time_required_cell 20
            |           
            article#description_rikoukaken.project_info
              .project_info_main
                .project_titile.org_color_chemistry
                  h2 身近な化学を体験しよう！
                  |                 
                  p 理工学部化学研究会
                |               
                .project_info_introduce
                  p 私たちが普段何気なく使っているものを使って、身の回りにある化学の不思議を体験してみよう！
              |             
              .project_info_detail
                table
                  thead
                    tr
                      th.no_cell No.
                      |                     
                      th.project_name_cell 企画名
                      |                     
                      th.project_form_cell 企画形態
                      |                     
                      th.target_age_cell 対象年齢
                      |                     
                      th.project_detail_cell 企画内容詳細
                      |                     
                      th.time_required_cell 所要時間(分)
                  |                 
                  tbody
                    tr.first_row
                      td.no_cell 1
                      |                     
                      td.project_name_cell クロマトグラフィーで遊ぼう！
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_cell クロマトグラフィーという現象を使って紙にきれいな模様を描いてもらいます。書けた紙は持ち帰りができます
                      |                     
                      td.time_required_cell 10
                    |                   
                    tr
                      td.no_cell 2
                      |                     
                      td.project_name_cell 色が変わる！？不思議な液体
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_cell 見た目は普通の液体ですが振るとある変化が…？ 実際に変化を体験してもらいます
                      |                     
                      td.time_required_cell ー
                    |                   
                    tr
                      td.no_cell 3
                      |                     
                      td.project_name_cell スライムを作ってみよう！
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_cell 四方酸ナトリウムという薬品と洗濯のりを使って、不思議な感触のするスライムを作ってもらいます。作ったスライムは持ち帰りができます
                      |                     
                      td.time_required_cell 15
                    |                   
                    tr.last_row
                      td.no_cell 4
                      |                     
                      td.project_name_cell 化学ロケットを飛ばそう！
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_cell 家庭にあるものを混ぜて、ロケットを飛ばしてみよう！
                      |                     
                      td.time_required_cell 10
            |           
            article#description_seibutuken.project_info
              .project_info_main
                .project_titile.org_color_chemistry
                  h2 生き物の秘密を解き明かそう！
                  |                 
                  p 2部研究会生物研究部
                |               
                .project_info_introduce
                  p 化石レプリカの作成、アントシアニンの実験、昆虫と標本展示を行います。非常に簡単なので小さいお子様でも安心です。
              |             
              .project_info_detail
                table
                  thead
                    tr
                      th.no_cell No.
                      |                     
                      th.project_name_cell 企画名
                      |                     
                      th.project_form_cell 企画形態
                      |                     
                      th.target_age_cell 対象年齢
                      |                     
                      th.project_detail_cell 企画内容詳細
                      |                     
                      th.time_required_cell 所要時間(分)
                  |                 
                  tbody
                    tr.first_row
                      td.no_cell 1
                      |                     
                      td.project_name_cell アントシアニン実験
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_cell アントシアニンの性質を利用し、酸性とアルカリ性の溶液を加えることによって色の変化を観察する。
                      |                     
                      td.time_required_cell 15
                    |                   
                    tr
                      td.no_cell 2
                      |                     
                      td.project_name_cell 化石レプリカ作成
                      |                     
                      td.project_form_cell 製作
                      |                     
                      td.target_age_cell 小学生
                      |                     
                      td.project_detail_cell 石膏と水を用いて化石のレプリカを作成し、古代の生物について説明する
                      |                     
                      td.time_required_cell 30
                    |                   
                    tr.last_row
                      td.no_cell 3
                      |                     
                      td.project_name_cell 生体と標本展示
                      |                     
                      td.project_form_cell 展示
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_cell 飼育する昆虫や標本の展示を行う
                      |                     
                      td.time_required_cell 5
            |           
            article#description_chibilab.project_info
              .project_info_main
                .project_titile.org_color_chemistry
                  h2 目で見る科学
                  |                 
                  p サイエンスコミュニケーションサークル chibi lab.
                |               
                .project_info_introduce
                  p
                    | ちびらぼは目で見る実験と工作を行います！工作のほうは大人の方にも楽しめるものになっています。
                    br
                    | 未就学児の子は化学実験のほうをお勧めします。
              |             
              .project_info_detail
                table
                  thead
                    tr
                      th.no_cell No.
                      |                     
                      th.project_name_cell 企画名
                      |                     
                      th.project_form_cell 企画形態
                      |                     
                      th.target_age_cell 対象年齢
                      |                     
                      th.project_detail_cell 企画内容詳細
                      |                     
                      th.time_required_cell 所要時間(分)
                  |                 
                  tbody
                    tr.first_row
                      td.no_cell 1
                      |                     
                      td.project_name_cell ドレッシングマグマ
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell 小１?
                      |                     
                      td.project_detail_cell ドレッシングに似せた液体に重曹を加えるとマグマのようにブクブクするよ！
                      |                     
                      td.time_required_cell 5
                    |                   
                    tr
                      td.no_cell 2
                      |                     
                      td.project_name_cell ビタミンチャレンジ
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell 小１?
                      |                     
                      td.project_detail_cell うがい薬にビタミンCを入れると・・・？ビタミンの実力を目で確かめよう！！！
                      |                     
                      td.time_required_cell 5
                    |                   
                    tr
                      td.no_cell 3
                      |                     
                      td.project_name_cell 振り向きドラゴン
                      |                     
                      td.project_form_cell 製作
                      |                     
                      td.target_age_cell 小４?
                      |                     
                      td.project_detail_cell 目の錯覚を利用した工作です。ずーっと目で追ってくる不思議なドラゴンを作りましょう！
                      |                     
                      td.time_required_cell 10
                    |                   
                    tr.last_row
                      td.no_cell 4
                      |                     
                      td.project_name_cell ベンハムこま
                      |                     
                      td.project_form_cell 製作
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_cell 回すと模様や色が変わる不思議なぶんぶんこまを作ってみませんか？
                      |                     
                      td.time_required_cell 10
            |           
            article#description_akituken_tokoro.project_info
              .project_info_main
                .project_titile.org_color_chemistry
                  h2 めざせ光博士と分子マイスター
                  |                 
                  p 秋津研究室+野老（ところ）実験クラブ
                |               
                .project_info_introduce
                  p 偏光顕微鏡で身近なものを見て、光の不思議を体験しよう！分子モデルの組み立てと化学計算体験コーナー
              |             
              .project_info_detail
                table
                  thead
                    tr
                      th.no_cell No.
                      |                     
                      th.project_name_cell 企画名
                      |                     
                      th.project_form_cell 企画形態
                      |                     
                      th.target_age_cell 対象年齢
                      |                     
                      th.project_detail_cell 企画内容詳細
                      |                     
                      th.time_required_cell 所要時間(分)
                  |                 
                  tbody
                    tr.first_row
                      td.no_cell 1
                      |                     
                      td.project_name_cell 偏光顕微鏡で見た世界！
                      |                     
                      td.project_form_cell 展示
                      |                     
                      td.target_age_cell 小学生から
                      |                     
                      td.project_detail_cell 偏光顕微鏡で身近なものをみた時の写真や原理の説明を聞いて、光の不思議を体験しよう！
                      |                     
                      td.time_required_cell 5
                    |                   
                    tr.last_row
                      td.no_cell 2
                      |                     
                      td.project_name_cell めざせ！分子マスター！
                      |                     
                      td.project_form_cell 製作
                      |                     
                      td.target_age_cell 小学生から
                      |                     
                      td.project_detail_cell モルタロウを使って簡単な分子モデルを組み立ててみよう！（分子モデルの持ち帰り）と化学計算に挑戦！
                      |                     
                      td.time_required_cell 10～15
            |           
            article#description_iidaken.project_info
              .project_info_main
                .project_titile.org_color_geoscience
                  h2 君だけのICカードを作ろう
                  |                 
                  p 飯田研究室
                |               
                .project_info_introduce
                  p ①電気と磁石の仕組みを学習し、オリジナルICカードを作製します。②熱電発電の仕組みを電車模型を使って学習します。
              |             
              .project_info_detail
                table
                  thead
                    tr
                      th.no_cell No.
                      |                     
                      th.project_name_cell 企画名
                      |                     
                      th.project_form_cell 企画形態
                      |                     
                      th.target_age_cell 対象年齢
                      |                     
                      th.project_detail_cell 企画内容詳細
                      |                     
                      th.time_required_cell 所要時間(分)
                  |                 
                  tbody
                    tr.first_row
                      td.no_cell 1
                      |                     
                      td.project_name_cell 君だけのICカードを作ろう
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell ７歳?
                      |                     
                      td.project_detail_cell ①電気と磁石の仕組みを学習し、オリジナルICカードを作製します。②熱電発電の仕組みを電車模型を使って学習します。
                      |                     
                      td.time_required_cell 10
                    |                   
                    tr
                      td.no_cell 2
                      |                     
                      td.project_name_cell 地球儀が宙に浮く？！磁石と電気の不思議な世界
                      |                     
                      td.project_form_cell 展示
                      |                     
                      td.target_age_cell ７歳以上
                      |                     
                      td.project_detail_cell 磁石の力と電気の力を使って、地球儀を宙に浮かせる模擬体験を行います。
                      |                     
                      td.time_required_cell 3～5
                    |                   
                    tr.last_row
                      td.no_cell 3
                      |                     
                      td.project_name_cell 無駄な熱を電気に変える？！熱電発電で電車を動かそう！
                      |                     
                      td.project_form_cell 展示
                      |                     
                      td.target_age_cell 全年齢対象
                      |                     
                      td.project_detail_cell 無駄な熱を電気に変える熱電発電のしくみを、電車模型を使って楽しく学びます。
                      |                     
                      td.time_required_cell ー
            |           
            article#description_ichisuuken.project_info
              .project_info_main
                .project_titile.org_color_math
                  h2 数学を肌で感じる
                  |                 
                  p 1部数学研究部
                |               
                .project_info_introduce
                  p ルービックキューブや数字当てゲームなど、数学を使った様々なゲームがあります。一緒に考えながら楽しく遊びましょう！
              |             
              .project_info_detail
                table
                  thead
                    tr
                      th.no_cell No.
                      |                     
                      th.project_name_cell 企画名
                      |                     
                      th.project_form_cell 企画形態
                      |                     
                      th.target_age_cell 対象年齢
                      |                     
                      th.project_detail_cell 企画内容詳細
                      |                     
                      th.time_required_cell 所要時間(分)
                  |                 
                  tbody
                    tr.first_row
                      td.no_cell 1
                      |                     
                      td.project_name_cell 数字当て
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell ６歳以上
                      |                     
                      td.project_detail_cell ０～５の中から３つ数字を選んで、相手の数字を言い当てるシンプルなゲームです。
                      |                     
                      td.time_required_cell 5
                    |                   
                    tr
                      td.no_cell 2
                      |                     
                      td.project_name_cell メビウスの輪
                      |                     
                      td.project_form_cell 製作
                      |                     
                      td.target_age_cell ５歳以上
                      |                     
                      td.project_detail_cell 半分に切っても切れないねじれた輪をつくります。切る回数やねじる回数を変えることで切った後の結果が変わってきます。
                      |                     
                      td.time_required_cell 5
                    |                   
                    tr
                      td.no_cell 3
                      |                     
                      td.project_name_cell 嘘つき当てゲーム
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell ８歳以上
                      |                     
                      td.project_detail_cell 会話をもとに正直者と嘘つき者を言い当てるゲームです。ちょっと難しいですが、分かると楽しいです。
                      |                     
                      td.time_required_cell ３～５
                    |                   
                    tr
                      td.no_cell 4
                      |                     
                      td.project_name_cell 偽金貨当て
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell ６歳以上
                      |                     
                      td.project_detail_cell 複数の球のなかに、一つだけ多く金貨が入っているものがあります。天秤を使って見つけましょう。
                      |                     
                      td.time_required_cell ３～５
                    |                   
                    tr
                      td.no_cell 5
                      |                     
                      td.project_name_cell ルービックキューブ
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell ８歳以上
                      |                     
                      td.project_detail_cell 昨年と同様に完全一面の作り方を教えます。また、きぼうによってはそのあとの工程も教えようと思っています。
                      |                     
                      td.time_required_cell ５～１０
                    |                   
                    tr.last_row
                      td.no_cell 6
                      |                     
                      td.project_name_cell ハノイの塔
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell ６歳以上
                      |                     
                      td.project_detail_cell ３段の箱を移動させるゲームです。決められたルールの中で最後まで動かすことができるでしょうか？
                      |                     
                      td.time_required_cell 5
            |           
            article#description_tenmonken.project_info
              .project_info_main
                .project_titile.org_color_geoscience
                  h2 僕たち宇宙(そら)の探検隊！
                  |                 
                  p 1部2部天文研究部
                |               
                .project_info_introduce
                  p プラネタリウム、星野写真、宇宙論などで宇宙や星について知ってもらったり、太陽観測で身近な太陽についても新たな知識を得てみてください
              |             
              .project_info_detail
                table
                  thead
                    tr
                      th.no_cell No.
                      |                     
                      th.project_name_cell 企画名
                      |                     
                      th.project_form_cell 企画形態
                      |                     
                      th.target_age_cell 対象年齢
                      |                     
                      th.project_detail_cell 企画内容詳細
                      |                     
                      th.time_required_cell 所要時間(分)
                  |                 
                  tbody
                    tr.first_row
                      td.no_cell 1
                      |                     
                      td.project_name_cell プラネタリウム上映
                      |                     
                      td.project_form_cell 展示
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_cell 自作プラネタリウムで普段見れない、満天の星空を体験してみよう。
                      |                     
                      td.time_required_cell 20
                    |                   
                    tr
                      td.no_cell 2
                      |                     
                      td.project_name_cell 星野写真展
                      |                     
                      td.project_form_cell 展示
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_cell 目では見れない、きれいな銀河や星雲を写真で見てみましょう。
                      |                     
                      td.time_required_cell なし
                    |                   
                    tr
                      td.no_cell 3
                      |                     
                      td.project_name_cell アストロボックス
                      |                     
                      td.project_form_cell 展示
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_cell 星座を閉じ込めた箱を、いろいろな角度から見てみよう。
                      |                     
                      td.time_required_cell 4～5
                    |                   
                    tr
                      td.no_cell 4
                      |                     
                      td.project_name_cell 宇宙論
                      |                     
                      td.project_form_cell 展示
                      |                     
                      td.target_age_cell 中学生以上
                      |                     
                      td.project_detail_cell 霧箱という装置で放射線を見てみたり、ブラックホールなどの原理を知ろう。
                      |                     
                      td.time_required_cell 4～5
                    |                   
                    tr
                      td.no_cell 5
                      |                     
                      td.project_name_cell 天文クイズ
                      |                     
                      td.project_form_cell 展示
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_cell 星や宇宙に関するクイズを答えて、きれいな星のしおりをゲットしよう。
                      |                     
                      td.time_required_cell 4～5
                    |                   
                    tr.last_row
                      td.no_cell 6
                      |                     
                      td.project_name_cell 絵本展示
                      |                     
                      td.project_form_cell 展示
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_cell 星座の神話の世界を体験してみよう。
                      |                     
                      td.time_required_cell なし
            |           
            article#description_nisuuken.project_info
              .project_info_main
                .project_titile.org_color_math
                  h2 たのしくさんすうをまなぼう！
                  |                 
                  p 2部数学研究部
                |               
                .project_info_introduce
                  p このブースでは100ます計算やパズルなどを用意してます。更に数理マジックをご覧いただくことが出来ます。一緒に算数を楽しみましょう！
              |             
              .project_info_detail
                table
                  thead
                    tr
                      th.no_cell No.
                      |                     
                      th.project_name_cell 企画名
                      |                     
                      th.project_form_cell 企画形態
                      |                     
                      th.target_age_cell 対象年齢
                      |                     
                      th.project_detail_cell 企画内容詳細
                      |                     
                      th.time_required_cell 所要時間(分)
                  |                 
                  tbody
                    tr.first_row
                      td.no_cell 1
                      |                     
                      td.project_name_cell 100マス計算で最速を目指そう
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell 6歳～
                      |                     
                      td.project_detail_cell 100マス計算（足し算、引き算、掛け算、割り算の中から一つ）を行い、タイムを測定。ランキング形式でホワイトボードに記載していく。
                      |                     
                      td.time_required_cell 5
                    |                   
                    tr
                      td.no_cell 2
                      |                     
                      td.project_name_cell マッチ棒パズルに挑戦！
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell 6歳～
                      |                     
                      td.project_detail_cell マッチ棒（綿棒）を使った簡単なパズルを行う。
                      |                     
                      td.time_required_cell 5～10
                    |                   
                    tr
                      td.no_cell 3
                      |                     
                      td.project_name_cell 数理パズル＆数理マジック
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell 6歳～
                      |                     
                      td.project_detail_cell 記述問題、図形問題などを中心に行う。また、トランプを使ったやや難易度が高めのマジックを行う。
                      |                     
                      td.time_required_cell 10～15
                    |                   
                    tr.last_row
                      td.no_cell 4
                      |                     
                      td.project_name_cell 数と図形の不思議
                      |                     
                      td.project_form_cell 展示
                      |                     
                      td.target_age_cell 6歳～
                      |                     
                      td.project_detail_cell 積み木などを使って立体図形のパズルを行う。
                      |                     
                      td.time_required_cell 10
            |           
            article#description_icibukken.project_info
              .project_info_main
                .project_titile.org_color_geoscience
                  h2 身近な物理を体験しよう！
                  |                 
                  p 1部物理研究部
                |               
                .project_info_introduce
                  p 「物理」ってなんだか難しそう…。でも実際はそんなことありません。この機会に物理の楽しさを体験してみよう！
              |             
              .project_info_detail
                table
                  thead
                    tr
                      th.no_cell No.
                      |                     
                      th.project_name_cell 企画名
                      |                     
                      th.project_form_cell 企画形態
                      |                     
                      th.target_age_cell 対象年齢
                      |                     
                      th.project_detail_cell 企画内容詳細
                      |                     
                      th.time_required_cell 所要時間(分)
                  |                 
                  tbody
                    tr.first_row
                      td.no_cell 1
                      |                     
                      td.project_name_cell 親子で知ろう光の色！
                      |                     
                      td.project_form_cell 製作
                      |                     
                      td.target_age_cell 小学生以上
                      |                     
                      td.project_detail_cell 画用紙を使い分光器を作り、会場の光を見ながら簡単な解説を行う予定です。光の三原色についても説明します。お持ち帰りできます。
                      |                     
                      td.time_required_cell 25～30
                    |                   
                    tr
                      td.no_cell 2
                      |                     
                      td.project_name_cell ☆光の万華鏡☆
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_cell 偏光板を組合わせて作ったボックスや万華鏡などを用意して、偏光板の仕組と不思議さを体験してもらいます。
                      |                     
                      td.time_required_cell 5
                    |                   
                    tr
                      td.no_cell 3
                      |                     
                      td.project_name_cell 手があってもくっつく強力磁石！
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_cell 手を挟んでもネオジム磁石同士がくっつくのを見てもらい、簡単なガウス加速器を用いて視覚的にもすごさを実感してもらいます。
                      |                     
                      td.time_required_cell 5
                    |                   
                    tr
                      td.no_cell 4
                      |                     
                      td.project_name_cell 磁場発生実験！
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_cell 材質の違う筒の中に磁石を落とし、なぜ違いが生じるのかを説明します。電気と磁気が関係を持つことを実感してもらいます。
                      |                     
                      td.time_required_cell 5
                    |                   
                    tr.last_row
                      td.no_cell 5
                      |                     
                      td.project_name_cell 振り子の不思議
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_cell 3種類くらいの振り子を用意し、共振などの現象を見てもらいます。
                      |                     
                      td.time_required_cell 5
            |           
            article#description_acm.project_info
              .project_info_main
                .project_titile.org_color_industrial
                  h2 人力飛行機を体験してみよう
                  |                 
                  p AircraftMakers
                |               
                .project_info_introduce
                  p 君は飛行機が好きかな？ここでは、なんと人力飛行機の操縦を体験出来るんだ！君のチカラと操作で人力飛行機を飛ばしてみよう！！
              |             
              .project_info_detail
                table
                  thead
                    tr
                      th.no_cell No.
                      |                     
                      th.project_name_cell 企画名
                      |                     
                      th.project_form_cell 企画形態
                      |                     
                      th.target_age_cell 対象年齢
                      |                     
                      th.project_detail_cell 企画内容詳細
                      |                     
                      th.time_required_cell 所要時間(分)
                  |                 
                  tbody
                    tr.first_row
                      td.no_cell 1
                      |                     
                      td.project_name_cell 人力飛行機を体験しよう
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell 4才以上
                      |                     
                      td.project_detail_cell 私達が作成した人力飛行機フライトシミュレーターを流用した簡易的人力飛行機フライトシミュレーターを体験して頂きます。
                      |                     
                      td.time_required_cell 1～2
                    |                   
                    tr.last_row
                      td.no_cell 2
                      |                     
                      td.project_name_cell よく飛ぶ紙飛行機をつくろう
                      |                     
                      td.project_form_cell 製作
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_cell よく飛ぶ飛行機のコツを、その道の達人である私達が指導し、同時に飛行機が安定して飛ぶメカニズムを説明します。
                      |                     
                      td.time_required_cell 10～15
            |           
            article#description_bunngukenn.project_info
              .project_info_main
                .project_titile.org_color_geoscience
                  h2 花咲インクともくねんさん
                  |                 
                  p 文具研究同好会
                |               
                .project_info_introduce
                  p 木くずの粘土『もくねんさん』でストラップを作るもくねんさんコーナーなど！ご来場お待ちしてます！
              |             
              .project_info_detail
                table
                  thead
                    tr
                      th.no_cell No.
                      |                     
                      th.project_name_cell 企画名
                      |                     
                      th.project_form_cell 企画形態
                      |                     
                      th.target_age_cell 対象年齢
                      |                     
                      th.project_detail_cell 企画内容詳細
                      |                     
                      th.time_required_cell 所要時間(分)
                  |                 
                  tbody
                    tr.first_row
                      td.no_cell 1
                      |                     
                      td.project_name_cell もくねんさん
                      |                     
                      td.project_form_cell 製作
                      |                     
                      td.target_age_cell 小学校低学年
                      |                     
                      td.project_detail_cell 鉛筆を作る時に出る木くずを再利用して作られたもくねんさんを使ったストラップ作りを体験してもらいます。
                      |                     
                      td.time_required_cell 20
                    |                   
                    tr
                      td.no_cell 2
                      |                     
                      td.project_name_cell 消えるインクの実験
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell 小学校中学年
                      |                     
                      td.project_detail_cell こすると色が消えるインクのメカニズムを、簡単な実験を通して解明していきます。
                      |                     
                      td.time_required_cell 30
                    |                   
                    tr.last_row
                      td.no_cell 3
                      |                     
                      td.project_name_cell 花咲インク
                      |                     
                      td.project_form_cell 実験
                      |                     
                      td.target_age_cell 小学校高学年
                      |                     
                      td.project_detail_cell ろ紙にペンで丸を描き、『クロマトグラフィー』という方法を使って、花のような模様を作ります。
                      |                     
                      td.time_required_cell 30
            |           
            article#description_chikaken.project_info
              .project_info_main
                .project_titile.org_color_geoscience
                  h2 地球をENJOY!
                  |                 
                  p 地球科学研究部
                |               
                .project_info_introduce
                  p 竜巻・落雷装置・霧箱・鉱物を展示しています。科学は実際に見たほうが学べます。地球科学を、学んでみませんか？
              |             
              .project_info_detail
                table
                  thead
                    tr
                      th.no_cell No.
                      |                     
                      th.project_name_cell 企画名
                      |                     
                      th.project_form_cell 企画形態
                      |                     
                      th.target_age_cell 対象年齢
                      |                     
                      th.project_detail_cell 企画内容詳細
                      |                     
                      th.time_required_cell 所要時間(分)
                  |                 
                  tbody
                    tr.first_row
                      td.no_cell 1
                      |                     
                      td.project_name_cell 竜巻装置を観察しよう
                      |                     
                      td.project_form_cell 展示
                      |                     
                      td.target_age_cell 6～
                      |                     
                      td.project_detail_cell 竜巻装置を地球科学研究部で展示しています。装置を見て、実物に近い形を見ながら学びましょう！
                      |                     
                      td.time_required_cell 5
                    |                   
                    tr
                      td.no_cell 2
                      |                     
                      td.project_name_cell 落雷を観察しよう
                      |                     
                      td.project_form_cell 展示
                      |                     
                      td.target_age_cell 6～
                      |                     
                      td.project_detail_cell 雷の仕組みを簡単な装置を使って説明します。擬似的な雷を見ることもできます。
                      |                     
                      td.time_required_cell 5
                    |                   
                    tr
                      td.no_cell 3
                      |                     
                      td.project_name_cell 鉱物を観察しよう
                      |                     
                      td.project_form_cell 展示
                      |                     
                      td.target_age_cell 6～
                      |                     
                      td.project_detail_cell 鉱物は奥が深く、地球には様々な鉱物があります。水晶、カンラン石・・・。感じながら学びましょう。
                      |                     
                      td.time_required_cell 5
                    |                   
                    tr.last_row
                      td.no_cell 4
                      |                     
                      td.project_name_cell 霧箱装置を観察しよう
                      |                     
                      td.project_form_cell 展示
                      |                     
                      td.target_age_cell 6～
                      |                     
                      td.project_detail_cell 霧箱装置を展示しています。ごく微量の放射線を観察できる形にしています。
                      |                     
                      td.time_required_cell 5
            |           
            article#description_kikoukaken.project_info
              .project_info_main
                .project_titile.org_color_industrial
                  h2 TUS Folmura Racing
                  |                 
                  p 機械工学研究会
                |               
                .project_info_introduce
                  p 自分の力で君だけのフォーミュラカーを作ってみよう！
              |             
              .project_info_detail
                table
                  thead
                    tr
                      th.no_cell No.
                      |                     
                      th.project_name_cell 企画名
                      |                     
                      th.project_form_cell 企画形態
                      |                     
                      th.target_age_cell 対象年齢
                      |                     
                      th.project_detail_cell 企画内容詳細
                      |                     
                      th.time_required_cell 所要時間(分)
                  |                 
                  tbody
                    tr.first_row
                      td.no_cell 1
                      |                     
                      td.project_name_cell レーシングカーに乗ってみよう！
                      |                     
                      td.project_form_cell 展示
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_cell レーシングカーに乗ってみよう！コックピットに座って、ハンドルをにぎったら、.キミもレーサーだ！
                      |                     
                      td.time_required_cell 3
                    |                   
                    tr.last_row
                      td.no_cell 2
                      |                     
                      td.project_name_cell My Racing Carを作ろう！
                      |                     
                      td.project_form_cell 製作
                      |                     
                      td.target_age_cell 小学生低学年～
                      |                     
                      td.project_detail_cell 世界に一つ、キミだけのレーシングカーを作ろう！みんなの作ったマシンでレーススタート！
                      |                     
                      td.time_required_cell 30
          |         
          section-7th_floor
            article#description_musenken.project_info
              .project_info_main
                .project_titile.org_color_industrial
                  h2 Wars & ニソコン
                  |                 
                  p I部無線研究部
                |               
                .project_info_introduce
                  p ニソコンは人型ロボットによる障害物走、1対1のバトルを行い、No.1ロボットを決定します。
              |             
              .project_info_detail
                table
                  thead
                    tr
                      th.no_cell No.
                      |                     
                      th.project_name_cell 企画名
                      |                     
                      th.project_form_cell 企画形態
                      |                     
                      th.target_age_cell 対象年齢
                      |                     
                      th.project_detail_for_customers_cell 企画内容詳細
                      |                     
                      th.time_required_cell 所要時間(分)
                  |                 
                  tbody
                    tr.first_row
                      td.no_cell 1
                      |                     
                      td.project_name_cell ニソコン in みらい研究室
                      |                     
                      td.project_form_cell 展示
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_for_customers_cell 二足歩行ロボットによるトーナメントバトルやアスリート競技大会です．多数の二足歩行ロボットをご覧あれ．
                      |                     
                      td.time_required_cell ー
                    |                   
                    tr.last_row
                      td.no_cell 2
                      |                     
                      td.project_name_cell ROBOT WARS 2015 
                      |                     
                      td.project_form_cell 展示
                      |                     
                      td.target_age_cell 全年齢
                      |                     
                      td.project_detail_for_customers_cell  夏に川崎市で行われる本大会に向けて日々進化を続けるﾛﾎﾞｯﾄ達を見ることができます! 白熱の試合をどうぞご覧下さい!
                      |                     
                      td.time_required_cell ー
          //
            bunngukenn:文具研究同好会
            tenmonken:1部2部天文研究部
            chikaken:地球科学研究部
            chibilab:サイエンスコミュニケーションサークル chibi lab.
            acm:AircraftMakers
            seibutuken:2部研究会生物研究部
            ichikaken:1部化学研究部
            nikaken:2部化学研究部
            rikoukaken:理工学部化学研究会
            icibukken:1部物理研究部
            ichisuuken:1部数学研究部
            nisuuken:2部数学研究部
            kikoukaken:機械工学研究会
            iidaken:飯田研究室
            akituken_tokoro:秋津研究室+野老（ところ）実験クラブ
            musenken:I部無線研究部
        |       
        #page_body_sub
          nav.side_navi_event.color_june
            ul
              li
                a(href='index.html') イベント概要
              |             
              li
                a(href='about_june.html') ～科学へのトビラ～について
              |             
              li
                a(href='exhibition.html') 企画案内
              |             
              li
                a(href='science_show.html') 特別企画:サイエンスショー
              |             
              li
                a(href='pinhole_camera.html') 特別企画:針穴写真実験
              |             
              li
                a(href='access.html') 会場アクセス
          //
            <nav class="side_navi">
            <ul>
            <li><a href="../members/index.html">企画出展者向け<br>情報提供ページ</a></li>
            <li><a href="../for_freshman/index.html">新入生向けページ</a></li>
            </ul>
            </nav>
      |     
      footer#page_foot
        p#copyright
          small
            | Copyright © #{lastModified.getFullYear()}
            | 東京理科大学みらい研究室～科学へのトビラ～ All rights reserved.
            | #{lastModified.toLocaleString("ja", {timeZone: "Asia/Tokyo"})}
