extends /layout/index.pug

append head
  title 科学へのトビラ|東京理科大学みらい研究室
  link(rel='stylesheet', href='../../date.css')
  link(rel='stylesheet', href='../../june.css')
  style.
    p.strong {
      font-size: 1.5em;
      font-weight: bold;
    }

    p.mbz {
      margin-bottom: 0;
    }

    dl {
      margin-left: 4em;
      margin-right: 2em;
      border: 1px solid rgb(0, 144, 0);
      padding: 1em;
    }

    dt {
      font-size: 1.2em;
      font-weight: bold;
    }

prepend header
  - var active = 'event'

block article
  section
    h1 ６月開催　みらい研究室 ～科学へのトビラ～
    |             
    p.content.strong.mbz 今年で10周年！！
    |             
    p.content
      | 毎年６月にお台場の日本科学未来館で開催される、
      br
      |  みらい研究室実行委員会主催イベント
      |               
      br
      |  「科学へのトビラ」２０１５年も開催決定！！
    |             
    table.eventdate
      tr
        th 日時：
        |                 
        td 6/6,7　10:00～17:00(最終入場 16:30)
      |               
      tr
        th 場所：
        |                 
        td 日本科学未来館　(1Ｆ、7Ｆ)
      |               
      tr
        th 入場料：
        |                 
        td 無料(日本科学未来館常設展は有料)
    |             
    p.content
      | 小さな子様から大人まで楽しめる企画がいっぱい！
      br
      |  是非ご友人やご家族とお越しください！
  |           
  section
    h2 10周年記念特別企画
    |             
    p.content 10周年という節目を迎えた今年は特別企画が盛り沢山です！
    |             
    dl
      dt 本学卒業生のチャーリー西村さんによるサイエンスショー
      |               
      dd
        | ７日(日)、日本科学未来館　７階みらいCANホールにて開催されます！
        br
        |  普段はなかなか見ることができないサイエンスショーを”無料”で見ることができます！
      |               
      dt 数学体験館初出展　-針穴写真実験-
      |               
      dd
        | ロケットコミュニケーションによる「針穴写真～手のひらサイズの実験～」や
        br
        |  タイガー計算機体験コーナーや数学に関する教具のミニ展示
  |           
  section
    h2 イベント当日の諸注意
    |             
    ul
      li 変更等がありましたらHPでお知らせいたします
      |               
      li 混雑時、会場内の安全を確保するために入場規制をかけることがあります。

prepend sidebar
  ul.color_june
    li
      a(href='index.html') イベント概要
    |             
    li
      a(href='about_june.html') ～科学へのトビラ～について
    |             
    li
      a(href='exhibition.html') 企画案内
    |             
    li
      a(href='science_show.html') 特別企画:サイエンスショー
    |             
    li
      a(href='pinhole_camera.html') 特別企画:針穴写真実験
    |             
    li
      a(href='access.html') 会場アクセス
  //
    <nav class="side_navi">
    <ul>
    <li><a href="../members/index.html">企画出展者向け<br>情報提供ページ</a></li>
    <li><a href="../for_freshman/index.html">新入生向けページ</a></li>
    </ul>
    </nav>
