extends /layout/index.pug

append head
  title 針穴写真実験|科学へのトビラ|東京理科大学みらい研究室
  link(rel='stylesheet', href='../../june.css')
  link(rel='stylesheet', href='../../lecture.css')
  style.
    .caption {
      font-size: small;
      text-decoration: none;
      border: solid 1px #008F00;
      width: 330px;
    }

    .caption img {
      width: 320px;
    }

    div.box p {
      display: inline-block;
    }

    #page_body_main section div.box p img {
      margin-left: 0;
    }

block path
  | ホーム >> イベント情報 >> みらい研究室 ～科学へのトビラ～ >> 特別企画:針穴写真実験

block article
  section
    h1.pagetitle 特別企画:光について考えよう!針穴写真-てのひらサイズの実験-
    |           
    p
      | 今年のみらい研では10周年特別企画として、
      br
      |  東京理科大学近代科学資料館＆数学体験館ブースにて、ロケットコミュニケーションズによる針穴写真実験を行います。
    |           
    section.lecture
      h2.pagetitle 針穴写真実験概要
      |             
      table
        tr
          th 日時
          |                 
          td 6月6日(土) (13時～と15時～)
        |               
        tr
          th 所要時間
          |                 
          td 約1時間
        |               
        tr
          th 会場
          |                 
          td 日本科学未来館1階　エスカレーター下
        |               
        tr
          th 定員
          |                 
          td 各回20人 要整理券
        |               
        tr
          th 提供
          |                 
          td 東京理科大学近代科学資料館＆数学体験館＆ロケットコミュニケーションズ
        |               
        tr
          th 講師
          |                 
          td ロケットコミュニケーションズ 外口慶樹
        |               
        tr
          th 内容
          |                 
          td ピンホールカメラを作成し、撮影し現像する
      |             
      p 事前予約は受け付けておりません。
    |           
    section
      h2.pagetitle 整理券について
      |             
      p 実験参加には整理券が必要です。
      |             
      p 整理券は1F大型モニター前にて10時より配布します。
    |           
    section
      h2.pagetitle 注意事項
      |             
      ul
        li 実験があるのは6日土曜日です。日曜日ではありません。
        |               
        li 整理券が必要です。
        |               
        li 実験がないときは同じ場所で数学に関する教具のミニ展示を行います。
    |           
    section
      h2.pagetitle 針穴写真とは
      |             
      p 針穴写真は、ピンホールカメラとも呼ばれ、レンズを使わないのが特徴です。どういうことでしょう？
      |             
      p
        | 普段私達が使用しているカメラは実はこのように幾つものレンズを組み合わせてできています。
        br
        |  さらにこれらのレンズが動くものもあります。
      |             
      .box
        p.caption
          a(href='http://commons.wikimedia.org/wiki/File:SLR_cross_section.svg#/media/File:SLR_cross_section.svg')
            img(width='320px', alt='SLR cross section.svg', src='http://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/SLR_cross_section.svg/1200px-SLR_cross_section.svg.png')
          br
          |                 "
          |                 
          a(href='http://commons.wikimedia.org/wiki/File:SLR_cross_section.svg#/media/File:SLR_cross_section.svg') SLR cross section
          | "
          |                 by 
          a.extiw(href='//en.wikipedia.org/wiki/User:Cburnett', title='en:User:Cburnett') en:User:Cburnett
          |                 - Own work with Inkscape based on 
          a(href='//commons.wikimedia.org/wiki/File:Slr-cross-section.png', title='File:Slr-cross-section.png') Image:Slr-cross-section.png
          | .
          |                 Licensed under 
          a(title='Creative Commons Attribution-Share Alike 3.0\
          <p></p>', href='http://creativecommons.org/licenses/by-sa/3.0/') CC 表示-継承 3.0
          |  via 
          a(href='//commons.wikimedia.org/wiki/') Wikimedia Commons
          | .
        |               
        p.caption
          a(href='http://commons.wikimedia.org/wiki/File:Zoom_prinzip.gif#/media/File:Zoom_prinzip.gif')
            img(alt='Zoom prinzip.gif', src='http://upload.wikimedia.org/wikipedia/commons/e/e3/Zoom_prinzip.gif')
          br
          |                 "
          |                 
          a(href='http://commons.wikimedia.org/wiki/File:Zoom_prinzip.gif#/media/File:Zoom_prinzip.gif') Zoom prinzip
          | "
          |                 by 
          a(href='//commons.wikimedia.org/wiki/User:Smial', title='User:Smial') smial
          |  - 投稿者自身による作品. Licensed under 
          a(title='Creative Commons Attribution-Share Alike 2.0 de', href='http://creativecommons.org/licenses/by-sa/2.0/de/deed.en') CC BY-SA 2.0 de
          |                 via 
          a(href='//commons.wikimedia.org/wiki/') ウィキメディア・コモンズ
          | .
      |             
      p 一方、針穴写真とはこのようなレンズは一切使いません。0.5mmくらいのとても小さな穴があるだけです。
      |             
      p.caption
        a(href='http://commons.wikimedia.org/wiki/File:Pinhole-camera.png#/media/File:Pinhole-camera.png')
          img(alt='Pinhole-camera.png', src='http://upload.wikimedia.org/wikipedia/commons/8/81/Pinhole-camera.png')
        br
        |               "
        |               
        a(href='http://commons.wikimedia.org/wiki/File:Pinhole-camera.png#/media/File:Pinhole-camera.png') Pinhole-camera
        | "
        |               by 
        a.extiw(href='//en.wikipedia.org/wiki/User:DrBob', title='en:User:DrBob') Bob Mellish
        |  -
        |               投稿者自身による作品 (Original text: By 
        a.extiw(href='//en.wikipedia.org/wiki/User:DrBob', title='en:User:DrBob') Bob Mellish
        | .).
        |                 Licensed under 
        a(title='Creative Commons Attribution-Share Alike 3.0', href='http://creativecommons.org/licenses/by-sa/3.0/') CC 表示-継承 3.0
        |                 via 
        a(href='//commons.wikimedia.org/wiki/') ウィキメディア・コモンズ
        | .
      |             
      p 構造がシンプルだから牛乳パックでも作れます。今回はこの針穴写真器で写真を撮影してみる実験を行います。
    |           
    section
      h2.pagetitle 提供
      |             
      ul
        li
          | 近代科学資料館
          br
          |                 
          a(href='http://www.tus.ac.jp/info/setubi/museum/') http://www.tus.ac.jp/info/setubi/museum/
        |               
        li
          | 数学体験館
          br
          |                 
          a(href='https://oae.tus.ac.jp/mse/taikenkan/') https://oae.tus.ac.jp/mse/taikenkan/
        |               
        li
          | ロケットコミュニケーションズ
          br
          |                 
          a(href='http://rocketcomms.jp/index2.php?page=1') http://rocketcomms.jp/index2.php?page=1

prepend sidebar
  nav.side_navi_event.color_june
    ul
      li
        a(href='index.html') イベント概要
      |             
      li
        a(href='about_june.html') ～科学へのトビラ～について
      |             
      li
        a(href='exhibition.html') 企画案内
      |             
      li
        a(href='science_show.html') 特別企画:サイエンスショー
      |             
      li
        a(href='pinhole_camera.html') 特別企画:針穴写真実験
      |             
      li
        a(href='access.html') 会場アクセス
  //
    <nav class="sideNavi">
    <ul>
    <li><a href="../members/index.html">企画出展者向け<br>情報提供ページ</a></li>
    <li><a href="../for_freshman/index.html">新入生向けページ</a></li>
    </ul>
    </nav>
