extends /layout/index.pug

append head
  title Wars & ニソコン|科学へのトビラ|東京理科大学みらい研究室
  link(rel='stylesheet', href='../../june.css')

prepend header
  - var active = 'event'

block article
  section
    h1 特別企画:Wars & ニソコン
    |           
    p.content_1 HP作成中・・・　しばらくお待ち下さい。

prepend sidebar
  ul.color_june
    li
      a(href='index.html') イベント概要
    |             
    li
      a(href='about_june.html') ～科学へのトビラ～について
    |             
    li
      a(href='exhibition.html') 企画案内
    |             
    li
      a(href='science_show.html') 特別企画:サイエンスショー
    |             
    li
      a(href='wars_and_nisokon.html') 特別企画:Wars & ニソコン
    |             
    li
      a(href='pinhole_camera.html') 特別企画:針穴写真実験
    |             
    li
      a(href='access.html') 会場アクセス
  //
    <nav class="side_navi">
    <ul>
    <li><a href="../members/index.html">企画出展者向け<br>情報提供ページ</a></li>
    <li><a href="../for_freshman/index.html">新入生向けページ</a></li>
    </ul>
    </nav>
