extends /layout/index.pug

prepend contentSecurityPolicy
  - var defaultSrc = ['\'unsafe-inline\'']
  - var connectSrc = []

append head
  title イベント情報|東京理科大学みらい研究室

prepend header
  - var active = 'event'

block article
  section
    h1 イベント情報
    section
      h2 開催予定・開催中のイベント
      nav
        ul
          // <li class="color_march"><a href="./2017/event_march/index.html">2017年<br>3月4日開催<br>-オドロキ科学箱-</a></li>
          // <li class="color_june"><a href="./2017/event_june/index.html">2017年6月10,11日開催<br>-科学へのトビラ-</a></li>
    section
      h2 終了したイベント
      table.layout_table
        colgroup(style='width: 64px;')
        colgroup(style='width: 64px;')
        colgroup(style='width: 224px;')
        colgroup(style='width: 256px;')
        tr
          th 開催年
          th 開催月
          th 場所
          th イベントトップページへのリンク
        tr
          td 2017
          td 06
          td 東芝未来科学館(川崎市)
          td
            a(href='./2017/event_june/index.html') みらい研究室 ～科学へのトビラ～
        tr
          td 2017
          td 03
          td 堀切地区センター
          td
            a(href='./2017/event_march/index.html') みらい研究室 ～オドロキ科学箱～
        tr
          td 2016
          td 06
          td 日本科学未来館(江東区)
          td
            a(href='./2016/event_june/index.html') みらい研究室 ～科学へのトビラ～
        tr
          td 2016
          td 03
          td 高砂地区センター
          td
            a(href='./2016/event_march/index.html') みらい研究室 ～オドロキ科学箱～
        tr
          td 2015
          td 06
          td 日本科学未来館(江東区)
          td
            a(href='./2015/event_june/index.html') みらい研究室 ～科学へのトビラ～
        tr
          td 2015
          td 03
          td ウィメンズ・パル（葛飾区）
          td
            a(href='./2015/event_march/index.html') みらい研究室 ～オドロキ科学箱～
        tr
          td 2014
          td 06
          td 日本科学未来館(江東区)
          td
            a(href='./2014/event_june/index.html') みらい研究室 ～科学へのトビラ～
