.layout_body > nav .color_june li {
  border-left: solid 3px #fa6603;
  border-right: solid 3px #fa6603;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
  background-color: #fa6603;
  background-image: linear-gradient(to left, #f8b30a, #fff 50%, #f8b30a);
  color: #fa6603;
}

.layout_body > nav .color_june li:first-child {
  background-color: #fa6603;
  background-image: none;
  color: white;
}

.layout_body > nav .color_june li:hover {
  background-color: #f8b30a;
  color: #fff;
}
