.layout_sidebar .color_march li {
  border-left: solid 3px #e10d47;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
  background-image: -webkit-linear-gradient(left, #fff, #f98980);
  background-image: -moz-linear-gradient(left, #fff, #f98980);
  background-image: -ms-linear-gradient(left, #fff, #f98980);
  background-image: -o-linear-gradient(left, #fff, #f98980);
  background-image: linear-gradient(to left, #fff, #f98980);
  color: #e10d47;
}

.layout_sidebar .color_march li:first-child {
  background-color: #e10d47;
  background-image: none;
  color: white;
}

.layout_sidebar .color_march li:hover {
  background-color: #f98980;
  color: #fff;
}
