article.project_info {
  margin: 18px 50px;
  border: 1px solid #009000;
}

article.project_info div {
  margin: 0 0 18px;
}

div.project_info_main div.project_title {
  width: 22em;
  margin: 0 0 18px;
}

div.project_info_main div.project_title h2 {
  margin: 5px;
}

div.project_info_main div.project_title p {
  margin: 5px;
  text-align: right;
  font-size: 15px;
}

div.project_info_main div.project_info_introduce {
  max-width: 70em;
  margin: 18px 2em;
}

div.project_title_list {
  display: inline-block;
  width: 324px;
}

div.project_title_list div.project_title {
  width: 22em;
  margin: 0 0 5px;
}

div.project_title_list div.project_title h2 {
  margin: 5px;
  font-size: 21px;
}

div.project_title_list div.project_title p {
  margin: 5px;
  text-align: right;
  font-size: 15px;
}

div.project_title h2 {
  border: 0;
}

.project_info_detail td {
  border: solid 1px #000;
  vertical-align: middle;
  text-align: left;
}

.project_info_detail table {
  margin: 20px;
}

/*
化学生命：#f4b3c2
1部化学研究部/神楽坂
2部化学研究部/神楽坂
理工学部化学研究会/野田
理系女子開発プロジェクト リケチェン！
2部生物研究部/神楽坂
野老(トコロ)実験クラブ＋秋津研究室or竹村研究室/神楽坂
ちびラボ
*/
.org_color_chemistry {
  background-color: #f4b3c2;
}

/*
数学：#cca6bf
一部数学研究部/神楽坂
2部数学研究部/神楽坂
近代科学資料館/神楽坂
*/
.org_color_math {
  background-color: #cca6bf;
}

/*
物理宇宙地球かんきょう：#fef263
1部2部天文研究部/神楽坂
1部物理研究会/神楽坂
基礎工学部飯田研究室
地球科学研究部/神楽坂
文具研究同好会
*/
.org_color_geoscience {
  background-color: #fef263;
}

/*
機械電気ロボット：#89c3eb
機械工学研究会/野田
ものづくりサークルCreate/野田
AircraftMakers/野田
1部無線研究部有志/神楽坂
*/
.org_color_industrial {
  background-color: #89c3eb;
}

/*
自然の不思議:#fef263
1部物理研究会/神楽坂
地球科学研究部/神楽坂
2部生物研究部/神楽坂
文具研究同好会
*/
.org_color_geoscience2 {
  background-color: #fef263;
}

/*
身の回りの科学:#f4b3c2
理工学部化学研究会/野田
1部化学研究部/神楽坂
2部化学研究部/神楽坂
野老(トコロ)実験クラブ/神楽坂
サイエンスコミュニケ―ションサークルchibi lab./神楽坂
*/
.org_color_chemistry2 {
  background-color: #f4b3c2;
}

/*
算数と宇宙:#cca6bf
一部数学研究部/神楽坂
2部数学研究部/神楽坂
1部2部天文研究部/神楽坂
野田天文研/野田
*/
.org_color_math2 {
  background-color: #cca6bf;
}

/*
乗り物と技術:#89c3eb
AircraftMakers/野田
機械工学研究会/野田
1部無線研究部有志/神楽坂
1部無線研究部有志/神楽坂
*/
.org_color_industrial2 {
  background-color: #89c3eb;
}
