extends /layout/index.pug

prepend contentSecurityPolicy
  - var defaultSrc = []
  - var connectSrc = []

append head
  title お問い合わせ|東京理科大学みらい研究室

block path
  | ホーム >> お問い合わせ

block article
  h1 お問い合わせ
  p.content_1 ご意見・ご質問は下記の電話番号またはメールアドレスからご連絡ください。
  p.content
    | 東京理科大学　広報課　TEL:　03-5228-8107
    br
    | みらい研究室実行委員会　E-mail:　miraiken＠ed.tus.ac.jp
    br
    p.content_1 ご連絡いただいても返信できない場合があります。ご了承ください。
