extends /layout/index.pug

append head
  meta(content='default-src \'self\' https://cdnjs.cloudflare.com/ajax/libs/ https://www.google-analytics.com/',
       http-equiv='Content-Security-Policy')
  title お問い合わせ|東京理科大学みらい研究室

block path
  | ホーム >> お問い合わせ

block article
  p.pagetitle お問い合わせ
  p.content_1 ご意見・ご質問は下記の電話番号またはメールアドレスからご連絡ください。
  p.content
    | 東京理科大学　広報課　TEL:　03-5228-8107
    br
    | みらい研究室実行委員会　E-mail:　miraiken＠ed.tus.ac.jp
    br
    p.content_1 ご連絡いただいても返信できない場合があります。ご了承ください。
