extends /layout/index.pug

prepend contentSecurityPolicy
  - var defaultSrc = []
  - var connectSrc = []

append head
  title お問い合わせ | 東京理科大学みらい研究室

prepend header
  - var active = 'contact'

block article
  h1 お問い合わせ
  p ご意見・ご質問は下記のメールアドレスへご連絡ください。
  dl
    dt E-mail
    dd #[a(href='mailto:miraiken@ed.tus.ac.jp') miraiken@ed.tus.ac.jp]
  p ご連絡いただいても返信できない場合があります。ご了承ください。
