

.project_info{
    margin: 60px 0 0 50px ;
    padding: 30px 30px  0 20px;
    border: 1px;
    border-style: solid;
    border-color: #00552e;
    border-radius: 30px;
    position: relative;
}

/*背景いじるCSS*/
/*.haikei{
    background-image: url("hibiki_motoe.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 300px
}*/

.project_title{
    background-color: #82ae46;
    width: 450px;
    position: absolute;
    left: -40px;
    top: -30px;
}

.project_title h2{
    margin: 10px;
}

.project_title p{
    margin: 5px;
    text-align:right;
    font-size: 15px
}

table, td, th {
    border: 2px #111111 solid;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.project_info_detail{
    padding: 0 30px 30px 30px;
}

#project_info_detail_mini{
    border: 1px solid #82ae46;
}

#pro