extends /layout/index.pug

append head
  title 会場アクセス|オドロキ科学箱|東京理科大学みらい研究室
  link(rel='stylesheet', href='../../access.css')
  link(rel='stylesheet', href='../../march.css')

prepend header
  - var active = 'event'

block article
  section
    h1 会場アクセス
    |           
    dl.content_1
      dt 会場
      |             
      dd 堀切地区センター
      |             
      dt 所在地
      |             
      dd 東京都葛飾区堀切 3-8-5 
      |             
      dt 海抜(標高)
      |             
      dd 0 m
    |           
    iframe(src='https://www.google.com/maps/d/embed?mid=19aBTxFMiEU5Rgat1iqDi8NKsiFY', width='640', height='480')
    |           
    ul.access_list
      li
        b 京成堀切菖蒲園駅南口より約100 m徒歩1分
      |             
      li 綾瀬駅より京成タウンバス新小51系統で堀切菖蒲園駅バス停より約100 m徒歩1分
      |             
      li 新小岩駅より京成タウンバス新小51系統で堀切菖蒲園駅バス停より約200 m徒歩2分
      |             
      li
        | 亀有駅より京成タウンバス有01系統
        br
        |               (言門橋経由/東京スカイツリータウン
        sup
          small ©
        | 前経由)で
        br
        |               堀切菖蒲園駅バス停より約100m徒歩1分
      |             
      li
        | 浅草寿町より京成タウンバス有01系統
        br
        |               (言門橋経由/東京スカイツリータウン
        sup ©
        | 前経由)で
        br
        |               堀切菖蒲園駅バス停より約200m徒歩2分
        br
    |           
    p
      | 会場にお越しの際は、公共交通機関をご利用ください。
      br
      |             駐輪スペースに限りがあり、自転車の駐輪をお断りすることがあります。

prepend sidebar
  ul.color_march
    li
      a(href='index.html') イベント概要
    |             
    li
      a(href='exhibition.html') 企画案内
    |             
    li
      a(href='access.html') 会場アクセス
  //
    <nav class="sideNavi">
    <ul>
    <li><a href="../members/index.html">企画出展者向け<br>情報提供ページ</a></li>
    <li><a href="../for_freshmen/index.html">新入生向けページ</a></li>
    </ul>
    </nav>
