doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    |   
    title 会場アクセス|オドロキ科学箱|東京理科大学みらい研究室
    |   
    script(src='../../../common.js')
    |   
    script.
      redirect_when_no_support("../../../no_supported_browser.html");
    |   
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
    |   
    link(rel='stylesheet', href='../../../common/layout.css')
    |   
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  body
    #page
      #page_head_back_1
        header#page_head
          .toptitle
            h1.toptitle1
              | 東京理科大学サイエンスフェア学生企画
              br
            |           
            h1.toptitle2 みらい研究室実行委員会
          |         
          nav.global_navi
            ul
              li
                a(href='../../../index.html')
                  | ホーム
                  br
                  | HOME
              |             
              li
                a(href='../../../event/index.html')
                  | イベント情報
                  br
                  | EVENT
              |             
              li
                a(href='../../../contact/index.html')
                  | お問い合わせ
                  br
                  | CONTACT
              |             
              li
                a(href='../../../link/index.html')
                  | リンク
                  br
                  | LINK
              |             
              li
                a(href='../../../for_freshman/index.html')
                  | 新入生向けページ
                  br
                  | for Freshman
      |     
      #page_body
        .topic_path_back
          p.topic_path 　ホーム >> イベント情報 >> みらい研究室 ～オドロキ科学箱～ >> 会場アクセス
        |       
        #page_body_main
          section
            h1.pagetitle 会場アクセス
            |           
            dl.content_1
              dt 会場
              |             
              dd 堀切地区センター
              |             
              dt 所在地
              |             
              dd 東京都葛飾区堀切 3-8-5 
              |             
              dt 海抜(標高)
              |             
              dd 0 m
            |           
            iframe(src='https://www.google.com/maps/d/embed?mid=19aBTxFMiEU5Rgat1iqDi8NKsiFY', width='640', height='480')
            |           
            ul.content_list
              li
                b 京成堀切菖蒲園駅南口より約100 m徒歩1分
              |             
              li 綾瀬駅より京成タウンバス新小51系統で堀切菖蒲園駅バス停より約100 m徒歩1分
              |             
              li 新小岩駅より京成タウンバス新小51系統で堀切菖蒲園駅バス停より約200 m徒歩2分
              |             
              li
                | 亀有駅より京成タウンバス有01系統
                br
                |               (言門橋経由/東京スカイツリータウン
                sup
                  small ©
                | 前経由)で
                br
                |               堀切菖蒲園駅バス停より約100m徒歩1分
              |             
              li
                | 浅草寿町より京成タウンバス有01系統
                br
                |               (言門橋経由/東京スカイツリータウン
                sup ©
                | 前経由)で
                br
                |               堀切菖蒲園駅バス停より約200m徒歩2分
                br
            |           
            p
              | 会場にお越しの際は、公共交通機関をご利用ください。
              br
              |             駐輪スペースに限りがあり、自転車の駐輪をお断りすることがあります。
        |       
        #page_body_sub
          nav.side_navi_event.color_march
            ul
              li
                a(href='index.html') イベント概要
              |             
              li
                a(href='exhibition.html') 企画案内
              |             
              li
                a(href='access.html') 会場アクセス
          //
            <nav class="sideNavi">
            <ul>
            <li><a href="../members/index.html">企画出展者向け<br>情報提供ページ</a></li>
            <li><a href="../for_freshman/index.html">新入生向けページ</a></li>
            </ul>
            </nav>
      |     
      footer#page_foot
        p#copyright
          small
            | Copyright © #{lastModified.getFullYear()}
            | 東京理科大学みらい研究室～科学へのトビラ～ All rights reserved.
            | #{lastModified.toLocaleString("ja", {timeZone: "Asia/Tokyo"})}
