doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    |   
    title 企画案内|科学へのトビラ|東京理科大学みらい研究室
    |   
    script(src='../../../common.js')
    |   
    script.
      redirect_when_no_support("../../../no_supported_browser.html");
    |   
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
    |   
    link(rel='stylesheet', href='../../../common/layout.css')
    |   
    link(rel='stylesheet', href='./resource/css/xxx.css')
    |   
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    |   
    script(src='https://cdnjs.cloudflare.com/ajax/libs/mithril/1.0.1/mithril.min.js')
    |   
    script(src='./resource/js/exhibition_creater.js')
  body
    #page
      #page_head_back_1
        header#page_head
          .toptitle
            h1.toptitle1
              | 東京理科大学サイエンスフェア学生企画
              br
            |           
            h1.toptitle2 みらい研究室実行委員会
          |         
          nav.global_navi
            ul
              li
                a(href='../../../index.html')
                  | ホーム
                  br
                  | HOME
              |             
              li
                a(href='../../../event/index.html')
                  | イベント情報
                  br
                  | EVENT
              |             
              li
                a(href='../../../contact/index.html')
                  | お問い合わせ
                  br
                  | CONTACT
              |             
              li
                a(href='../../../link/index.html')
                  | リンク
                  br
                  | LINK
              |             
              li
                a(href='../../../for_freshman/index.html')
                  | 新入生向けページ
                  br
                  | for Freshman
      |     
      #page_body
        #particles_js
        |       
        .topic_path_back
          p.topic_path 　ホーム >> イベント情報 >> みらい研究室 ～オドロキ科学箱～ >> 企画案内
        |       
        #page_body_main
          h1.pagetitle 企画案内
          |         
          section#description
        |       
        #page_body_sub
          nav.side_navi_event.color_march
            ul
              li
                a(href='index.html') イベント概要
              |             
              li
                a(href='exhibition.html') 企画案内
              |             
              li
                a(href='access.html') 会場アクセス
      |     
      footer#page_foot
        p#copyright
          small
            | Copyright © #{lastModified.getFullYear()}
            | 東京理科大学みらい研究室～科学へのトビラ～ All rights reserved.
            | #{lastModified.toLocaleString("ja", {timeZone: "Asia/Tokyo"})}
