extends /layout/index.pug

append head
  title 科学へのトビラ|東京理科大学みらい研究室
  link(rel='stylesheet', href='../../date.css')
  link(rel='stylesheet', href='../../march.css')

prepend header
  - var active = 'event'

block article
  section
    h1 ３月開催　みらい研究室 ～オドロキ科学箱～
    |           
    p(style='text-align: center;')
      | 毎年３月に葛飾区で開催される、
      br
      |  みらい研究室実行委員会主催　イベント
      |             
      br
      |  「オドロキ科学箱」2017年も開催決定！！
    |           
    h2 日時
    |           
    table.eventdate
      tr
        th 日時：
        |               
        td 3/4(土)　10：00～16：00(15:30受付終了)
      |             
      tr
        th 場所：
        |               
        td 堀切地区センター(1F,2F,3F)
    |           
    p
      | 今年も葛飾区でイベントを開催します！
      br
      |  科学の楽しさを伝えるために、おもしろい企画をたくさん用意しました。
    |           
    p
      | 科学が好き！という子はもちろん、科学があまり好きではない子も私たちと一緒に科学の楽しさに触れてみませんか？
      br
      |  ぜひ、遊びにきてください。心よりお待ちしております。
    |           
    h2 イベント当日の諸注意
    |           
    ul
      li
        | 混雑時、会場内の安全を確保するために入場規制をかけることがあります。ご了承ください。

prepend sidebar
  ul.color_march
    li
      a(href='index.html') イベント概要
    |             
    li
      a(href='exhibition.html') 企画案内
    |             
    li
      a(href='access.html') 会場アクセス
