extends /layout/index.pug

prepend contentSecurityPolicy
  - var defaultSrc = ['\'unsafe-inline\'', 'https://*.twimg.com/', 'https://*.twitter.com/']
  - var imgSrc = ['https://*.twimg.com/', 'https://*.twitter.com/']

append head
  script(async, src='https://platform.twitter.com/widgets.js')
  title 新入生向けページ | 東京理科大学みらい研究室

prepend header
  - var active = 'for_freshmen'

block article
  p 準備中です。

prepend sidebar
  ul.layout_sidebar.nav.flex-column.nav-pills(style='margin-bottom: auto; padding: 1rem; position: sticky; top: 1rem')
    li
      a.nav-link(href='.') 新歓TOP
    li
      a.nav-link(href='planning_department.html') 企画班
    li
      a.nav-link(href='public_relations_department.html') 広報班
    li
      | 最新のイベント情報をチェック!
      | Twitterでフォローしよう
      a.twitter-follow-button(data-show-count='false', data-size='large', href='https://twitter.com/_miraiken_')
        | @_miraiken_ をフォロー
