extends /layout/index.pug

prepend contentSecurityPolicy
  - var defaultSrc = ['\'unsafe-inline\'', 'https://*.twimg.com/', 'https://*.twitter.com/']
  - var imgSrc = ['https://*.twimg.com/', 'https://*.twitter.com/']
  - var connectSrc = []

append head
  script(async, src='https://platform.twitter.com/widgets.js')
  title 新入生向けページ | 東京理科大学みらい研究室

prepend header
  - var active = 'for_freshmen'

block article
  section
    h1 みらい研とは?
    p
      | 年に2回、6月と3月に行われる科学啓発イベントの企画と運営を行っている東京理科大の学生団体です!
  section
    h1 こんな人大歓迎!
    p
      | 実行委員になるのに特別なスキルは必要ありません。
      | 子どもが好き、科学が好き、企画や運営をするのが好き…そんな
      b "好き"とやる気を持っている方
      | を歓迎します!
  section
    h1 今後の予定
    p
      | 交通費を除き、いずれも参加費は無料です！お気軽にご参加ください。
      | 様々なキャンパス・場所でイベントを開催しますが、どのイベントも参加者の所属キャンパスは問いません。
      | また、複数のイベント参加も大歓迎です！！
    p
      | いずれかのイベントにご参加いただける場合、お名前と、参加したいイベントの番号を記入の上(複数回答可です！)、返信してください。
      | もし「この日なら(この時間なら)参加できるんだけど…」とお悩みの方がいらっしゃいましたら、
      | 参加可能な日にちまたは時間を書いて返信してください。こちらで時間を調整し、ご連絡します。
    a.btn.btn-block.btn-lg.btn-primary(href='#contact', style='margin: 1rem auto; max-width: 32rem')
      | お問い合わせ先
    h2 #[time(datetime='2018-04-12') 4月12日 (木)] 活動説明および登録会
    dl
      dt 場所
      dd 神楽坂キャンパス3号館2階談話室
      dt 時刻
      dd #[time 14:30]から#[time 19:30]まで随時受付。いつでもいらしてください!
    h2 #[time(datetime='2018-04-15') 4月15日 (日)] 親睦会
    p お茶をしながらおしゃべりしましょう!
    dl
      dt 場所
      dd 未定
      dt 時刻
      dd #[time 15:15]から1~2時間程度を予定しています
      dt 集合場所
      dd 神楽坂キャンパス3号館1階ピロティ
    h2 #[time(datetime='2018-04-16') 4月16日 (月)] 活動説明および登録会
    dl
      dt 場所
      dd 神楽坂キャンパス3号館2階談話室
      dt 時刻
      dd #[time 14:30]から#[time 19:30]まで随時受付。いつでもいらしてください!
    h2 #[time(datetime='2018-04-22') 4月22日 (日)] 部室見学、活動説明および登録会
    dl
      dt 場所
      dd 葛飾キャンパスみらい研究室部室
      dt 時刻
      dd 1. #[time 10:00]~, 2. #[time 17:00]~ のどちらかで都合のあう方にご参加ください。
      dt 集合場所
      dd JR 金町駅改札口前
    p 見学後、金町駅周辺でご飯を食べ、その後解散する予定です。
    h2 #[time(datetime='2018-05-06') 5月6日 (日)] 6月期イベント開催場所見学
    dl
      dt 場所
      dd 川崎 東芝未来科学館、ラゾーナ川崎、ミューザ川崎
      dt 時刻
      dd #[time 10:00]~
      dt 集合場所
      dd JR川崎駅改札口前
    p 川崎駅周辺でお昼ご飯を食べ、その後解散する予定です。
  section(id='contact')
    h1 お問い合わせ
    p わからないことがあったらお気軽にお問い合わせください。
    dl
      dt メール
      dd
        a(href='mailto:2018sinkan.miraiken@gmail.com')
          | 2018sinkan.miraiken@gmail.com
    p
      | 学部学科と学年があるとスムーズです。
      | その際、迷惑メール設定からこのメールアドレスを除外してください (メール送れない)
  section
    h1 部費
    p
      | 半年ごとに1,000円となります。但し、1年前期と4年後期は発生しないので、
      | 4年間で6,000円払うことになります。(部費の使途が少ないので部費がリーズナブルになっています。)
  section
    h1 委員の仕事
    p 主な活動内容は大きく分けて2つです。
    ol
      li イベントを開催するための準備 (開催日当日以外のお仕事)
      li イベント当日の運営
    section
      h2 開催日当日以外のお仕事
      p
        | 当日までは総務班・企画班・広報班の3つの班に分かれて活動をします。
        | そこでは、数回行われる会議の準備やお金の管理はもちろん理科大の団体さん
        | (部活やサークル) にイベント参加の依頼をしたり、小学校や公共施設、
        | そして当日配るビラやポスターを作成したりしています!
      dl
        dt 総務班
        dd
          | 総務班は、委員会がスムーズに動くことが出来るよう補佐する班です。
          | 会議のセッティングや提出書類の作成など仕事の内容は様々です。
          | 自分に合ったものを見つけることができますよ!
        dt #[a(href='planning_department.html') 企画班]
        dd
          | 企画班はイベントに出展していただく団体との交渉や企画内容の調整などを行っています。
          | イベントが徐々に出来上がっていくのがわかるので、
          | 「自分がイベントを作っているんだ」と実感できます。
        dt #[a(href='public_relations_department.html') 広報班]
        dd
          | 広報班はイベント周知の為に様々な活動をしています!
          | このWebページの管理や、ビラやポスターの作成が主なお仕事です。
          | その他にもアンケート作成などやりがいのある仕事がお待ちしています!
      h3 Webサイト制作
      p
        | Webサイトは#[a(href='https://kagucho.net/') 神楽坂一丁目通信局]が広報版と共同で制作しています。
        | Webサイト制作に興味のある方はこちらのサークルもご確認ください。
    section
      h2 イベント当日の運営
      p
        | 当日は来場したお客様に安全に楽しんでもらえるよう、
        | 会場でご案内をするのがメインになります。
        | 参加してくださったお客様の笑顔を間近で見ることができます!

prepend sidebar
  ul.layout_sidebar.nav.flex-column.nav-pills(style='margin-bottom: auto; padding: 1rem; position: sticky; top: 1rem')
    li
      a.nav-link.active(href='.') 新歓TOP
    li
      a.nav-link(href='planning_department.html') 企画班
    li
      a.nav-link(href='public_relations_department.html') 広報班
    li
      | 最新のイベント情報をチェック!
      | Twitterでフォローしよう
      a.twitter-follow-button(data-show-count='false', data-size='large', href='https://twitter.com/_miraiken_')
        | @_miraiken_ をフォロー
