extends /layout/index.pug

prepend contentSecurityPolicy
  - var defaultSrc = ['\'unsafe-inline\'']
  - var connectSrc = []

append head
  title 新入生向けページ|東京理科大学みらい研究室

prepend header
  - var active = 'for_freshmen'

block article
  section
    h1 みらい研とは?
    p
      | 年に２回、6月と3月に行われる科学啓発イベントの企画と運営を行っている東京理科大の学生団体です!
  section
    h1 こんな人大歓迎!
    p
      | 実行委員になるのに特別なスキルは必要ありません。
      | 子どもが好き、科学が好き、企画や運営をするのが好き…そんな
      b "好き"とやる気を持っている方
      | を歓迎します!
  section
    h1 今後の予定
    p 準備中です
    table.layout_table
      thead
        tr
          th 日付
          th 時間
          th 内容
          th 場所
      tbody
        tr
          td
            time(datetime='2017-04-16') 2017年4月16日 (日)
          td #[time 17:00]~
          td
            | 神楽坂キャンパス
            br
            | 新入生説明会
          td 8号館844教室
        tr
          td
            time(datetime='2017-04-16') 2017年4月16日 (日)
          td #[time 18:00]~
          td 新入生歓迎食事会
          td
        tr
          td
            time(datetime='2017-04-23') 2017年4月23日 (日)
          td #[time 11:00]~
          td 東芝未来科学館見学
          td
        tr
          td
            time(datetime='2017-04-23') 2017年4月23日 (日)
          td #[time 12:00]~
          td 食事会
          td
        tr
          td
            time(datetime='2017-05-14') 2017年5月14日 (日)
          td #[time 16:00]~
          td
            | 第5回部会
            br
            | (イベント前最終確認)
          td
            | 神楽坂キャンパス
            br
            | 832教室
        tr
          td
            time(datetime='2017-6-10') 2017年6月10日 (土)
          td #[time 10:00]~
          td
            | みらい研究室
            br
            | 〜科学へのトビラ〜
            br
            | (1日目)
          td 東芝未来科学館
        tr
          td
            time(datetime='2017-6-11') 2017年6月11日 (日)
          td #[time 10:00]~
          td
            | みらい研究室
            br
            | 〜科学へのトビラ〜
            br
            | (2日目)
          td 東芝未来科学館
  section
    h1 お問い合わせ
    p 新歓情報はこのHPでもお伝えしますが、メールしていただくと更新をお知らせします (予定)
    p E-Mail:
      a(href='mailto:2017sinkan.miraiken@gmail.com') 2017sinkan.miraiken@gmail.com
    p
      | 学部学科と学年があるとスムーズです。
      | その際、迷惑メール設定からこのメールアドレスを除外してください (メール送れない)
  section
    h1 部費
    p
      | 半年ごとに1,000円となります。但し、1年前期と4年後期は発生しないので、
      | 4年間で6,000円払うことになります。(部費の消費先が少ないので)
      | 部費がリーズナブルになっています。
  section
    h1 委員の仕事
    p 主な活動内容は大きく分けて2つ。
    ol
      li イベントを開催するための準備 (開催日当日以外のお仕事)
      li イベント当日の運営
    section
      h2 開催日当日以外のお仕事
      p
        | 当日までは総務班・企画班・広報班の3つの班に分かれて活動をします。
        | そこでは、数回行われる会議の準備やお金の管理はもちろん理科大の団体さん
        | (部活やサークル) にイベント参加の依頼をしたり、小学校や公共施設、
        | そして当日配るビラやポスターを作成したりしています!
      table.layout_table
        colgroup(style='min-width: 8rem;')
        colgroup
        tr
          th 班名
          th 紹介
        tr
          td 総務班
          td
            | 総務班は、委員会がスムーズに動くことが出来るよう補佐する班です。
            | 会議のセッティングや提出書類の作成など仕事の内容は様々です。
            | 自分に合ったものを見つけることができますよ!
        tr
          td 企画班
          td
            | 企画班はイベントに出展していただく団体との交渉や企画内容の調整などを行っています。
            | イベントが徐々に出来上がっていくのがわかるので、
            | 「自分がイベントを作っているんだ」と実感できます。
        tr
          td 広報班
          td
            | 広報班はイベント周知の為に様々な活動をしています!
            | このWebページの管理や、ビラやポスターの作成が主なお仕事です。
            | その他にもアンケート作成などやりがいのある仕事がお待ちしています!
      p 詳しくは右側のリンクより総務班、企画班、広報班の詳細ページをご覧ください!
    section
      h2 イベント当日の運営
      p
        | 当日は来場したお客様に安全に楽しんでもらえるよう、
        | 会場でご案内をするのがメインになります。
        | 参加してくださったお客様の笑顔を間近で見ることができます!

prepend sidebar
  ul
    li.top
      a(href='.') 新歓TOP
    li
      a(href='planning_department.html') 企画班
    li
      a(href='public_relations_department.html') 広報班
