extends /layout/index.pug

prepend contentSecurityPolicy
  - var defaultSrc = ['\'unsafe-inline\'', 'https://*.twimg.com/', 'https://*.twitter.com/']
  - var imgSrc = ['https://*.twimg.com/', 'https://*.twitter.com/']
  - var connectSrc = []

append head
  script(async, src='https://platform.twitter.com/widgets.js')
  title 新入生向けページ | 東京理科大学みらい研究室

prepend header
  - var active = 'for_freshmen'

block article
  section
    h1 みらい研とは?
    p
      | 年に2回、6月と3月に行われる科学啓発イベントの企画と運営を行っている東京理科大の学生団体です。
  section
    h1 こんな人大歓迎!
    p
      | 実行委員になるのに特別なスキルは必要ありません。
      | 子どもが好き、科学が好き、企画や運営をするのが好き…そんな
      b "好き"とやる気を持っている方
      | を歓迎します!
  section
    h1 新入部員はいつでも募集中です!
    a.btn.btn-block.btn-lg.btn-primary(href='/web/contact/', style='margin: 2rem auto; max-width: 32rem')
      | お問い合わせはこちら

prepend sidebar
  ul.layout_sidebar.nav.flex-column.nav-pills(style='margin-bottom: auto; padding: 1rem; position: sticky; top: 1rem')
    li
      a.nav-link.active(href='.') 新歓TOP
    li
      a.nav-link(href='planning_department.html') 企画班
    li
      a.nav-link(href='public_relations_department.html') 広報班
    li
      | 最新の情報をチェック!
      | Twitterでフォローしよう
      a.twitter-follow-button(data-show-count='false', data-size='large', href='https://twitter.com/_miraiken_')
        | @_miraiken_ をフォロー
