div.project_info_main div.project_title {
  width: 23em;
}

div.project_title_list div.project_title {
  width: 23em;
}

div.project_info_detail th {
  border: 1px solid #000;
}

.project_name_cell {
  width: 190px;
}

.project_form_cell {
  width: 36px;
}

.target_age_cell {
  width: 54px;
}

td.time_required_cell {
  text-align: center;
}

#map1 {
  border: 1px solid gray;
}
