extends /layout/index.pug

append head
  title オドロキ科学箱について|オドロキ科学箱|東京理科大学みらい研究室
  link(rel='stylesheet', href='../../march.css')

block path
  | ホーム >> イベント情報 >> みらい研究室 ～オドロキ科学箱～ >> ～オドロキ科学箱～について

block article
  section
    h1.pagetitle みらい研究室 ～オドロキ科学箱～について
    |           
    p.content_1
      | 今年も葛飾区でイベントを開催します！
      br
      |  科学の楽しさを伝えるために、おもしろい企画をたくさん用意しました。
    |           
    p.content_1
      | 科学が好き！という子はもちろん、科学があまり好きではない子も私たちと一緒に科学の楽しさに触れてみませんか？
      br
      |  ぜひ、遊びにきてください。心よりお待ちしております。

prepend sidebar
  nav.side_navi_event.color_march
    ul
      li
        a(href='index.html') イベント概要
      |             
      li
        a(href='about_march.html') ～オドロキ科学箱～について
      |             
      li
        a(href='exhibition.html') 企画案内
      |             
      li
        a(href='access.html') 会場アクセス
  //
    <nav class="sideNavi">
    <ul>
    <li><a href="../members/index.html">企画出展者向け<br>情報提供ページ</a></li>
    <li><a href="../for_freshman/index.html">新入生向けページ</a></li>
    </ul>
    </nav>
