extends /layout/index.pug

append head
  title 企画案内|オドロキ科学箱|東京理科大学みらい研究室
  link(rel='stylesheet', href='../../march.css')
  link(rel='stylesheet', href='../../project.css')
  style.
    div.project_info_main div.project_titile {
      width: 22.5em;
    }
    div.project_titile_list div.project_titile {
      width: 22.5em;
    }

prepend header
  - var active = 'event'

block article
  h1 企画案内
  |         
  article#description_chikaken.project_info
    .project_info_main
      .project_titile.org_color_geoscience
        h2 地球をENJOY!
        |             
        p 地球科学研究部
      |           
      .project_info_introduce
        p 竜巻、落雷装置、海流装置、霧箱、鉱物を展示しています。地球学研究しませんか?
    |         
    .project_info_detail
      table
        colgroup(style='width: 32px;')
        |             
        colgroup(style='width: 160px;')
        |             
        colgroup(style='width: 85px;')
        |             
        colgroup(style='width: 120px;')
        |             
        tr
          td No.
          |               
          td 企画名
          |               
          td 企画形態
          |               
          td 対象年齢
        |             
        tr
          td 1
          |               
          td 竜巻装置展示
          |               
          td 実験
          |               
          td 全年齢
        |             
        tr
          td 5
          |               
          td 落雷を観察しよう
          |               
          td 展示
          |               
          td 全年齢
        |             
        tr
          td 3
          |               
          td 鉱物展示
          |               
          td 展示
          |               
          td 全年齢
        |             
        tr
          td 2
          |               
          td 霧箱実験
          |               
          td 展示
          |               
          td 全年齢
  |       
  article#description_tenmonken.project_info
    .project_info_main
      .project_titile.org_color_geoscience
        h2 目指せ宇宙博士！
        |             
        p Ⅰ部Ⅱ部天文研究部
      |           
      .project_info_introduce
        p
          | プラネタリウムを使った星の解説や天体写真の展示、望遠鏡を使った太陽の観測などを行います。
          br
          | また、親子で楽しめる天文クイズや放射線を見る実験、
          br
          | 星座を立体に見たりなど様ざまな展示を行っています。
          br
          | さあ、あなたも宇宙博士を目指そう！
    |         
    .project_info_detail
      table(border='0')
        colgroup(style='width: 32px;')
        |             
        colgroup(style='width: 170px;')
        |             
        colgroup(style='width: 85px;')
        |             
        colgroup(style='width: 120px;')
        |             
        tr
          td No.
          |               
          td 企画名
          |               
          td 企画形態
          |               
          td 対象年齢
        |             
        tr
          td 1
          |               
          td プラネタリウム上映
          |               
          td 展示
          |               
          td 全年齢
        |             
        tr
          td 2
          |               
          td 星空の写真展
          |               
          td 展示
          |               
          td 全年齢
        |             
        tr
          td 3
          |               
          td 霧箱体験
          |               
          td 実験
          |               
          td 全年齢
        |             
        tr
          td 4
          |               
          td 宇宙論スケッチブック
          |               
          td 展示
          |               
          td 中学生以上
        |             
        tr
          td 5
          |               
          td 天文グッズ
          |               
          td 展示
          |               
          td 全年齢
        |             
        tr
          td 6
          |               
          td 太陽観測
          |               
          td 実験
          |               
          td 全年齢
        |             
        tr
          td 7
          |               
          td アストロボックス
          |               
          td 展示
          |               
          td 全年齢
        |             
        tr
          td 8
          |               
          td 惑星クイズ
          |               
          td 展示
          |               
          td 全年齢
        |             
        tr
          td 9
          |               
          td 模型展示
          |               
          td 展示
          |               
          td 全年齢
        |             
        tr
          td 10
          |               
          td すごろく
          |               
          td 展示
          |               
          td 全年齢
  |       
  article#description_seibutuken.project_info
    .project_info_main
      .project_titile.org_color_chemistry
        h2 生き物の秘密を解き明かそう！
        |             
        p Ⅱ部研究会生物研究部
      |           
      .project_info_introduce
        p 見て、作って体験！～生き物の不思議～
    |         
    .project_info_detail
      table(border='0')
        colgroup(style='width: 32px;')
        |             
        colgroup(style='width: 160px;')
        |             
        colgroup(style='width: 85px;')
        |             
        colgroup(style='width: 120px;')
        |             
        tr
          td No.
          |               
          td 企画名
          |               
          td 企画形態
          |               
          td 対象年齢
        |             
        tr
          td 1
          |               
          td 化石レプリカ作成
          |               
          td 制作
          |               
          td 6～12
        |             
        tr
          td 2
          |               
          td 生態展示
          |               
          td 展示
          |               
          td 全年齢
        |             
        tr
          td 3
          |               
          td アイシャドウで指紋検出
          |               
          td 展示
          |               
          td 6～12
  |       
  article#description_bunngukenn.project_info
    .project_info_main
      .project_titile.org_color_geoscience
        h2 花咲インクともくねんさん
        |             
        p 文具研究同好会
      |           
      .project_info_introduce
        p
          | 木くずの粘土「もくねんさん」でストラップなどを作れるもくねんさんコーナーや、
          br
          | 封蝋体験など普段では体験できないおもしろいことをします！
          br
          | ご来場お待ちしています！
    |         
    .project_info_detail
      table(border='0')
        colgroup(style='width: 32px;')
        |             
        colgroup(style='width: 160px;')
        |             
        colgroup(style='width: 85px;')
        |             
        colgroup(style='width: 120px;')
        |             
        tr
          td No.
          |               
          td 企画名
          |               
          td 企画形態
          |               
          td 対象年齢
        |             
        tr
          td 1
          |               
          td 花咲(はなさき)インク
          |               
          td 実験
          |               
          td 全年齢
        |             
        tr
          td 2
          |               
          td もくねんさんストラップ作り
          |               
          td 制作
          |               
          td 小学校低学年
        |             
        tr
          td 3
          |               
          td シーリングワックス
          |               
          td 製作
          |               
          td 全年齢
        |             
        tr
          td 4
          |               
          td 消えるインク
          |               
          td 実験
          |               
          td 全年齢
        |             
        tr
          td 5
          |               
          td 文房具および研究資料の展示
          |               
          td 展示
          |               
          td 全年齢
  |       
  article#description_chibilab.project_info
    .project_info_main
      .project_titile.org_color_chemistry
        h2 紙コップで楽器を作ろう！
        |             
        p サイエンスコミュニケーションサークル chibi lab.
      |           
      .project_info_introduce
        p
          | 身近に手に入る紙コップ、輪ゴム、割りばしなどを使ってゴムギター、
          br
          | ぶんぶんゼミの音が出るおもちゃを作ります。作ったおもちゃは持って帰って遊ぶことができます。
    |         
    .project_info_detail
      table(border='0')
        colgroup(style='width: 32px;')
        |             
        colgroup(style='width: 160px;')
        |             
        colgroup(style='width: 85px;')
        |             
        colgroup(style='width: 120px;')
        |             
        tr
          td No.
          |               
          td 企画名
          |               
          td 企画形態
          |               
          td 対象年齢
        |             
        tr
          td 1
          |               
          td びよよんゴムギター
          |               
          td 制作
          |               
          td 小学校低学年～小学校高学年
        |             
        tr
          td 2
          |               
          td ぶんぶんゼミ
          |               
          td 制作
          |               
          td 小学校低学年～小学校高学年
  |         
  article#description_acm.project_info
    .project_info_main
      .project_titile.org_color_industrial
        h2 模型飛行機を作ろう
        |               
        p AircraftMakers
      |             
      .project_info_introduce
        p
          | 自分の力で模型飛行機を作ってみませんか？
          br
          | うまくいけば紙飛行機よりずっと遠くまで飛ぶ模型飛行機が作れます！！
    |           
    .project_info_detail
      table(border='0')
        colgroup(style='width: 32px;')
        |               
        colgroup(style='width: 160px;')
        |               
        colgroup(style='width: 110px;')
        |               
        colgroup(style='width: 120px;')
        |               
        tr
          td No.
          |                 
          td 企画名
          |                 
          td 企画形態
          |                 
          td 対象年齢
        |               
        tr
          td 1
          |                 
          td 模型飛行機製作
          |                 
          td 製作
          |                 
          td ４才?（はさみが使える歳）
  |         
  article#description_nikaken.project_info
    .project_info_main
      .project_titile.org_color_chemistry
        h2 おうちで使える簡単化学実験
        |               
        p Ⅱ部化学研究部
      |             
      .project_info_introduce
        p
          | 小さなお子さんにも楽しんでもらえるような簡単で楽しい化学実験をやっています。
          br
          | 実験で作った物は持ち帰ることができます。
    |           
    .project_info_detail
      table(border='0')
        colgroup(style='width: 32px;')
        |               
        colgroup(style='width: 160px;')
        |               
        colgroup(style='width: 85px;')
        |               
        colgroup(style='width: 120px;')
        |               
        tr
          td No.
          |                 
          td 企画名
          |                 
          td 企画形態
          |                 
          td 対象年齢
        |               
        tr
          td 1
          |                 
          td 入浴剤
          |                 
          td 実験
          |                 
          td 全年齢
        |               
        tr
          td 2
          |                 
          td 芳香剤
          |                 
          td 実験
          |                 
          td 全年齢
        |               
        tr
          td 3
          |                 
          td 発泡スチロールスタンプ
          |                 
          td 実験
          |                 
          td 全年齢
  |         
  article#description_ichikaken.project_info
    .project_info_main
      .project_titile.org_color_chemistry
        h2 見て、さわって楽しむ化学
        |               
        p Ⅰ部化学研究部
      |             
      .project_info_introduce
        p Ⅰ部化学研究部のブースでは３つの実験を用意しました。どれも簡単な実験なので誰でも気軽に楽しむことができます。作ったものを持ち帰れる実験もあります。
    |           
    .project_info_detail
      table(border='0')
        colgroup(style='width: 32px;')
        |               
        colgroup(style='width: 160px;')
        |               
        colgroup(style='width: 85px;')
        |               
        colgroup(style='width: 130px;')
        |               
        tr
          td No.
          |                 
          td 企画名
          |                 
          td 企画形態
          |                 
          td 対象年齢
        |               
        tr
          td 1
          |                 
          td ダイラタンシー
          |                 
          td 製作
          |                 
          td 全年齢
        |               
        tr
          td 2
          |                 
          td 人工イクラ
          |                 
          td 製作
          |                 
          td 3歳以上
        |               
        tr
          td 3
          |                 
          td 不思議な液体
          |                 
          td 実験
          |                 
          td 全年齢
  |         
  article#description_rikoukaken.project_info
    .project_info_main
      .project_titile.org_color_chemistry
        h2 身近なものを使って化学を体験しよう！
        |               
        p 理工学部化学研究会
      |             
      .project_info_introduce
        p 私たちの身近にあるものを使って、ちょっと不思議な体験をしてみよう！
    |           
    .project_info_detail
      table(border='0')
        colgroup(style='width: 32px;')
        |               
        colgroup(style='width: 250px;')
        |               
        colgroup(style='width: 85px;')
        |               
        colgroup(style='width: 120px;')
        |               
        tr
          td No.
          |                 
          td 企画名
          |                 
          td 企画形態
          |                 
          td 対象年齢
        |               
        tr
          td 1
          |                 
          td 電気ペンでお絵かきしてみよう！
          |                 
          td 実験
          |                 
          td 全年齢
        |               
        tr
          td 1
          |                 
          td 割れないシャボン玉で遊ぼう！
          |                 
          td 実験
          |                 
          td 全年齢
        |               
        tr
          td 3
          |                 
          td スライムを作ってみよう！
          |                 
          td 実験
          |                 
          td 全年齢

prepend sidebar
  ul.color_march
    li
      a(href='index.html') イベント概要
    |             
    li
      a(href='about_march.html') ～オドロキ科学箱～について
    |             
    li
      a(href='exhibition.html') 企画案内
    |             
    li
      a(href='access.html') 会場アクセス
  //
    <nav class="sideNavi">
    <ul>
    <li><a href="../members/index.html">企画出展者向け<br>情報提供ページ</a></li>
    <li><a href="../for_freshmen/index.html">新入生向けページ</a></li>
    </ul>
    </nav>
