extends /layout/index.pug

append head
  meta(content='default-src \'self\' https://cdnjs.cloudflare.com/ajax/libs/ https://www.google-analytics.com/',
       http-equiv='Content-Security-Policy')
  title リンク|東京理科大学みらい研究室～科学へのトビラ～

block path
  | ホーム >> リンク

block article
  p.pagetitle リンク
  p.pagetitle_sub みらい研究室　関係各所(五十音順)
  ul
    li
      a(href='https://www.tus.ac.jp/') 東京理科大学
    li
      a(href='https://www.miraikan.jst.go.jp/') 日本科学未来館
    li
      a(href='http://toshiba-mirai-kagakukan.jp/') 東芝未来科学館
  p.pagetitle_sub みらい研究室　企画出展団体(五十音順)
  ul
    li
      a(href='http://www.ed.tus.ac.jp/~kaken/') Ｉ部化学研究部
    li
      a(href='http://www.ed.tus.ac.jp/~musen1/') Ｉ部無線研究部
    li
      a(href='http://acm9.web.fc2.com/') Aircraft Makers
    li
      a(href='http://www.ed.kagu.tus.ac.jp/earth/') 地球科学研究部
    li
      a(href='http://chibilab.web.fc2.com/index.html') chibi lab.
    li
      a(href='http://www.ed.kagu.tus.ac.jp/tenmon/') 天文研究部
    li
      a(href='http://www.tokoro-jikken.net/') 野老実験クラブ
    li
      a(href='http://bunguken.blog.fc2.com/') 文具研究同好会
