extends /layout/index.pug

append head
  meta(content='default-src \'self\' https://cdnjs.cloudflare.com/ajax/libs/ https://www.google-analytics.com/',
       http-equiv='Content-Security-Policy')

block path
  | ホーム >> 委員紹介

block article
  | 準備中です。
