/* ---- reset ---- */

body {
  margin: 0;
}

canvas {
  display: block;
  vertical-align: bottom;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container > div,
.container > section {
  padding: 5px;
}

section > dl,
section > table.layout_table {
  margin: 18px 50px;
}

/* ---- particles.js container ---- */

/*
.layout_body {
  background-color: #57b82b;
  background-position: 50% 50%;
  position: relative;
}

#particles_js {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

main > article > section {
  background-color: white;
}
*/

/* ---- stats.js ---- */

.count-particles {
  background: #002;
  border-radius: 0 0 3px 3px;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

/* other */
.project_title > h2 {
  border: 0;
  margin: 0;
  padding: 0;
}

.project_title > p {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.project_info {
  margin: 4px;
}

.project_info_introduce {
  margin: 0 1em;
}

.project_info_detail {
  margin: 0 1em;
}

.project_info_detail > section {
  padding: 4px 1em;
}

.project_info_detail > section > h3 {
  margin: 0;
  padding: 0;
}

.project_info_detail > section > p {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.project_info_detail > section > table {
  margin: 4px 0;
  border: 1px solid black;
  font-size: 12px;
}

.project_info_detail > section > table th,
.project_info_detail > section > table td {
  font-weight: normal;
  padding: 2px;
  border: 1px solid black;
}

#area_chemistory .project_title {
  background-color: #f4b3c2;
}

#area_geoscience .project_title {
  background-color: #fef263;
}

#area_math .project_title {
  background-color: #cca6bf;
}

#area_industrial .project_title {
  background-color: #89c3eb;
}

#description_musenken .project_title {
  background-color: #89c3eb;
}

#area_chemistory > article {
  border: 1px solid #f4b3c2;
}

#area_geoscience > article {
  border: 1px solid #fef263;
}

#area_math > article {
  border: 1px solid #cca6bf;
}

#area_industrial > article {
  border: 1px solid #89c3eb;
}

#description_musenken {
  border: 1px solid #89c3eb;
}

#area_chemistory .project_info_detail > section > h3 {
  border-bottom: 1px solid #f4b3c2;
}

#area_geoscience .project_info_detail > section > h3 {
  border-bottom: 1px solid #fef263;
}

#area_math .project_info_detail > section > h3 {
  border-bottom: 1px solid #cca6bf;
}

#area_industrial .project_info_detail > section > h3 {
  border-bottom: 1px solid #89c3eb;
}

#description_musenken .project_info_detail > section > h3 {
  border-bottom: 1px solid #89c3eb;
}

/* take add */
.btn {
  display: inline-block;
  width: 45%;
  margin: 5px;
}

.geoscience {
  background-color: #fef263;
}

.math {
  background-color: #cca6bf;
}

.industrial {
  background-color: #89c3eb;
}

.chemistory {
  background-color: #f4b3c2;
}
