body,
.layout_path p {
  background: #eee;
}

body {
  min-width: 300px;
}

.layout_top_captions_title {
  color: #aaa;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.layout_top_captions_subtitle {
  color: #080;
  margin: 0.2rem;
}

.layout_top_captions_subtitle img {
  display: inline;
  vertical-align: middle;
}

header,
.layout_body {
  max-width: 1110px;
}

header {
  background: #fff;
  margin: 0 auto;
}

.layout_table {
  border-collapse: collapse;
}

.layout_table td,
.layout_table th {
  border: solid 1px;
}

/* ----- タイトル＋SlideShow＋Menu  ----- */
header nav {
  padding-top: 0;
  width: 100%;
}

header nav ul {
  background-image: linear-gradient(to bottom, #afa, #5b3);
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}

header nav li {
  border-top: solid 1px #ddd;
  border-left: solid 1px #ddd;
  box-sizing: border-box;
  flex: 1;
  flex-direction: column;
  font-weight: bold;
  list-style: none;
  text-align: center;
}

header nav li:last-child {
  border-right: solid 1px #ddd;
}

header nav a {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
}

header nav div {
  flex: 1;
}

header nav a::after {
  background: #bea;
  content: url("./arrow/default.png");
  display: block;
}

header nav a:hover::after {
  background: #9de;
  content: url("./arrow/hover.png");
}

/* -----  本体部分  ----- */

.layout_body,
.layout_path {
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
}

.layout_body {
  border-bottom: solid 1px #ddd;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
}

.layout_path p {
  border-bottom: solid 1px #ddd;
  border-bottom-right-radius: 10px;
  color: #555;
  height: 1.3rem;
  line-height: 1.3rem;
  margin: 0;
  padding-left: 16px;
}

main {
  min-width: 0;
  max-width: 800px;
  overflow-wrap: break-word;
  padding: 10px;
}

main h1,
main h2 {
  border-bottom: solid 1px #080;
  border-top: solid 1px #080;
  border-left: solid 10px #080;
}

main h1 {
  padding-top: 6px;
  font-size: 1.5rem;
}

main h2 {
  font-size: 1.3rem;
  border-left: solid 5px #080;
}

.content,
.content_1 {
  font-size: 1.1rem;
  line-height: 2.5rem;
}

.content {
  text-align: center;
}

.content_1 {
  margin: 18px 50px;
}

main .layout_event_nav ul {
  list-style: none;
  max-width: 610px;
  margin: 0 auto;
  padding: 0;
}

main .layout_event_nav li {
  background: linear-gradient(to bottom, #be9, #5b3);
  border-radius: 10px;
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
  text-align: center;
}

main .layout_event_nav li.color_june {
  background: linear-gradient(to bottom, #fa0, #f60);
}

main .layout_event_nav li.color_march {
  background: linear-gradient(to bottom, #f88, #d04);
}

main .layout_event_nav li:last-child {
  margin-right: 0;
}

main .layout_event_nav li:hover {
  opacity: 0.7;
}

main .layout_event_nav ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 20px 0;
  line-height: 2.2rem;
  font-size: 2rem;
}

main div img,
main iframe {
  margin-left: 100px;
}

/* ---- event情報などのためのside bar ---- */
.layout_body > nav {
  flex: 1 1 280px;
  min-width: 280px;
  padding: 10px 0;
}

.layout_body > nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.layout_body > nav li {
  flex: 1;
  background: #6c4;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  margin: 1px;
  min-width: 240px;
  height: 50px;
}

.layout_body > nav li:first-child {
  background: #5b3;
}

.layout_body > nav li a {
  text-decoration: none;
  color: inherit;
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.3rem;
  padding: 15px 0;
}

.layout_body > nav li:hover {
  background: #be9;
}

footer {
  background: #080;
  color: #fff;
}

footer p {
  font-size: 0.8rem;
  margin-bottom: 0;
  padding: 8px;
}
