body {
  background: #dff;
}

.layout_top_captions {
  height: 90px;
}

.layout_top_captions_title {
  margin: 0;
  font-size: 25px;
}

.layout_top_captions_subtitle {
  margin: 0;
  font-size: 35px;
  color: orange;
  line-height: 60px;
}

/* #65c441 */
header {
  background: #fff;
  height: 157px;
  width: 1110px;
  margin: 0 auto;
}

.layout_table {
  border-collapse: collapse;
}

.layout_table td,
.layout_table th {
  border: solid 1px;
}

/* ----- タイトル＋SlideShow＋Menu  ----- */
header nav {
  padding-top: 0;
  width: 100%;
}

header nav ul li {
  list-style: none;
  width: 222px;
  height: 66px;
  float: left;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  border-left: solid 1px #060;
  background: url("./arrow/default.jpg") 0 100% no-repeat;
  font-weight: bold;
  color: #fff;
  margin: 0 auto;
  line-height: 22px;
}

header nav ul li:last-child {
  border-right: solid 1px #060;
}

header nav ul li:hover {
  color: #080;
  background: url("./arrow/hover.jpg") 0 100% no-repeat;
}

header nav ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 10px;
  width: 202px;
  height: 46px;
}

header nav ul {
  background-image: linear-gradient(to bottom, #afa, #5b3);
  margin: 0;
  padding: 0;
  border-top: solid 1px #060;
}

header nav ul::after {
  content: "";
  clear: both;
  display: block;
}

/* -----  本体部分  ----- */

.layout_body {
  width: 1108px;
  margin: 0 auto;
  border-left: solid 1px #000;
  border-right: solid 1px #000;
  background-color: #fff;
}

.layout_body::after {
  content: "";
  clear: both;
  display: block;
}

.layout_path {
  background-color: #9de;
  border-bottom: solid 1px #000;
  border-radius: 0 0 10px 10px;
  height: 20px;
  line-height: 20px;
  margin: 0;
  padding-left: 16px;
}

main {
  width: 800px;
  float: left;
  padding: 10px;
}

main h1 {
  background: url("./door.jpg") 0 50% no-repeat;
  padding-top: 6px;
  border-bottom: solid 1px #080;
  border-top: solid 1px #080;
  font-size: 25px;
  padding-left: 30px;
}

main h2 {
  font-size: 20px;
  border-bottom: solid 1px #080;
  border-top: solid 1px #080;
  border-left: solid 5px #080;
}

.content {
  font-size: 18px;
  text-align: center;
  line-height: 40px;
}

.content_1 {
  font-size: 18px;
  line-height: 40px;
  margin: 18px 50px;
}

main .layout_event_nav ul {
  list-style: none;
  width: 610px;
  margin: 0 auto;
  padding: 0;
}

main .layout_event_nav li {
  background: linear-gradient(to bottom, #be9, #5b3);
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

main .layout_event_nav li.color_june {
  background: linear-gradient(to bottom, #fa0, #f60);
}

main .layout_event_nav li.color_march {
  background: linear-gradient(to bottom, #f88, #d04);
}

main .layout_event_nav li:last-child {
  margin-right: 0;
}

main .layout_event_nav li:hover {
  opacity: 0.7;
}

main .layout_event_nav ul::after {
  content: "";
  clear: both;
  display: block;
}

main .layout_event_nav ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 20px 0;
  line-height: 35px;
  font-size: 30px;
}

main div img,
main iframe {
  margin-left: 100px;
}

footer p small {
  margin-left: 0;
}

/* ---- event情報などのためのside bar ---- */
.layout_sidebar {
  width: 280px;
  float: right;
  padding: 10px 0;
}

.layout_sidebar ul {
  list-style: none;
  width: 239px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.layout_sidebar li {
  border-left: solid 3px #5b3;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
  background: linear-gradient(to left, #5b3, #9d8);
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  margin-left: 37px;
  margin-bottom: 1px;
  width: 240px;
  height: 50px;
}

.layout_sidebar li:first-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #5b3;
  color: white;
}

.layout_sidebar li:last-child {
  border-bottom-left-radius: 10px;
}

.layout_sidebar li a {
  text-decoration: none;
  color: inherit;
  display: block;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  padding: 15px 0;
  width: 237px;
}

.layout_sidebar ul li:hover {
  background: #be9;
  color: #fff;
}

footer {
  border-top: solid 2px #080;
  margin-top: 1.5;
}

footer p {
  font-size: 12px;
  text-align: center;
}
