body {
  background: #eee;
  overflow-x: hidden;
}

.layout_top_captions_subtitle {
  color: #aaa;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.layout_top_captions_title {
  color: #080;
  margin-left: 0.5rem;
}

.layout_top_captions_subtitle img {
  display: inline;
  vertical-align: middle;
}

header,
.layout_body_wrapper {
  max-width: 1000px;
}

header {
  background: #fff;
  margin: 0 auto;
}

.layout_table {
  border-collapse: collapse;
}

.layout_table td,
.layout_table th {
  border: solid 1px;
}

/* ----- Menu  ----- */

header > .navbar {
  margin-bottom: 1rem;
  padding: 0;
}

header > .navbar a {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  font-weight: bold;
  text-transform: uppercase;
}

header > .navbar .active > a {
  background: #cfb !important;
}

header > .navbar > .navbar-toggler {
  margin: 0.5rem 1rem;
}

/* -----  本体部分  ----- */

.layout_body_wrapper {
  margin: auto;
}

.layout_body {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.layout_body > * {
  margin: 10px;
}

.layout_body > nav,
.layout_sidebar,
main {
  background-color: #fff;
  border: solid 1px #ddd;
}

main {
  flex: 1 512px;
  min-width: 0;
  overflow-wrap: break-word;
  padding: 10px;
}

.main-h1,
.main-h2,
main h1,
main h2 {
  border-bottom: solid 1px #080;
  border-top: solid 1px #080;
  border-left: solid 10px #080;
}

.main-h2,
main h2 {
  padding-top: 4px;
  font-size: 2rem;
  border-left: solid 5px #080;
}

/* ---- event情報などのためのside bar ---- */
.layout_sidebar {
  flex: 1 100px;
}

.layout_body > nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.layout_body > nav li {
  flex: 1;
  background: #6c4;
  color: #fff;
}

.layout_body > nav li:first-child {
  background: #5b3;
}

.layout_body > nav li a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.layout_body > nav li:hover {
  background: #be9;
}

footer,
footer a {
  color: #fff;
}

footer {
  background: #080;
}

footer p {
  margin: 1rem 0 0;
  padding: 8px;
}

footer a {
  text-decoration: underline;
}
