extends /layout/index.pug

append head
  meta(content='default-src \'self\' https://cdnjs.cloudflare.com/ajax/libs/ https://www.google-analytics.com/',
       http-equiv='Content-Security-Policy')
  title 新入生向けページ|東京理科大学みらい研究室

block path
  | ホーム >> 新入生向けページ >> 総務班

block article
  | 準備中です。

prepend sidebar
  nav.side_nav
    ul
      li.top
        a(href='index.html') 新歓TOP
      li
        a(href='general_affairs_department.html') 総務版
      li
        a(href='planning_department.html') 企画班
      li
        a(href='public_relations_department.html') 広報班
