extends /layout/index.pug

prepend contentSecurityPolicy
  - var defaultSrc = []
  - var connectSrc = []

append head
  title 新入生向けページ|東京理科大学みらい研究室

prepend header
  - var active = 'for_freshman'

block article
  section
    h1 みらい研とは？
    p
      | 年に２回、6月と3月に行われる科学啓発イベントの企画と運営を行っている
      br
      | 東京理科大の学生団体です！
  section
    h1 こんな人大歓迎！
    p
      | 実行委員になるのに特別なスキルは必要ありません。
      br
      | 子どもが好き、科学が好き、企画や運営をするのが好き…
      br
      | そんな
      b "好き"とやる気を持っている方
      | を歓迎します！
  section
    h1 今後の予定
    p 準備中です
    table.layout_table
      thead
        tr
          th 日付
          th 時間
          th 内容
          th 場所
      tbody
        tr
          td
            time(datetime='2017-04-16') 2017年4月16日（日）
          td 17:00〜
          td
            | 神楽坂キャンパス
            br
            | 新入生説明会
          td 8号館844教室
        tr
          td
            time(datetime='2017-04-16') 2017年4月16日（日）
          td 18:00〜
          td 新入生歓迎食事会
          td
        tr
          td
            time(datetime='2017-04-23') 2017年4月23日（日）
          td 11:00〜
          td 東芝未来科学館見学
          td
        tr
          td
            time(datetime='2017-04-23') 2017年4月23日（日）
          td 12:00〜
          td 食事会
          td
        tr
          td
            time(datetime='2017-05-14') 2017年5月14日（日）
          td 16:00〜
          td
            | 第5回部会
            br
            | (イベント前最終確認)
          td
            | 神楽坂キャンパス
            br
            | 832教室
        tr
          td
            time(datetime='2017-6-10') 2017年6月10日（土）
          td 10:00〜
          td
            | みらい研究室
            br
            | 〜科学へのトビラ〜
            br
            | （1日目）
          td 東芝未来科学館
        tr
          td
            time(datetime='2017-6-11') 2017年6月11日（日）
          td 10:00〜
          td
            | みらい研究室
            br
            | 〜科学へのトビラ〜
            br
            | （2日目）
          td 東芝未来科学館
    //
      <tbody>
      <tr>
      <td>
      <time datetime="2016-04-07">2016年04月07日</time>
      </td>
      <td>10:40～12:20</td>
      <td>神楽坂キャンパス<br>新歓ガイダンス(第一幕)</td>
      <td>2号館221教室</td>
      </tr>
      <tr>
      <td>
      <time datetime="2016-04-07">2016年04月07日</time>
      </td>
      <td>13:30～15:10</td>
      <td>神楽坂キャンパス<br>新歓ガイダンス(第二幕)</td>
      <td>2号館221教室</td>
      </tr>
      <tr>
      <td>
      <time datetime="2016-04-07">2016年04月07日</time>
      </td>
      <td>16:20～18:00</td>
      <td>神楽坂キャンパス<br>新歓ガイダンス(第三幕)</td>
      <td>2号館221教室</td>
      </tr>
      <tr>
      <td>
      <time datetime="2016-04-08">2016年04月08日</time>
      </td>
      <td>9:30～16:30</td>
      <td>葛飾キャンパス<br>新歓ガイダンス</td>
      <td>講義棟502教室</td>
      </tr>
      <tr>
      <td>
      <time datetime="2016-04-07">2016年04月07日</time>
      </td>
      <td>10:00～14:00</td>
      <td>野田キャンパス<br>新歓ガイダンス</td>
      <td>ブース番号41<br>(雨天時講義棟K709)</td>
      </tr>
      <tr>
      <td>
      <time datetime="2016-04-10">2016年04月10日</time>
      </td>
      <td>10:00～17:00?</td>
      <td>新入生説明会</td>
      <td>神楽坂キャンパス2号館242教室</td>
      </tr>
      <tr>
      <td>
      <time datetime="2016-04-17">2016年04月17日</time>
      </td>
      <td>10:00～11:30</td>
      <td>新入生説明会</td>
      <td>神楽坂キャンパス8号館832教室</td>
      </tr>
      <tr>
      <td>
      <time datetime="2016-04-17">2016年04月17日</time>
      </td>
      <td>11:30～13:00?</td>
      <td>昼食</td>
      <td>神楽坂キャンパス付近</td>
      </tr>
      <tr>
      <td>
      <time datetime="2016-04-24">2016年04月24日</time>
      </td>
      <td>09:30～</td>
      <td>未来館にお出かけ</td>
      <td>日本化学未来館<br>(現地集合、交通費各自、入館無料)</td>
      </tr>
      <tr>
      <td>
      <time datetime="2016-05-15">2016年05月15日</time>
      </td>
      <td>未定</td>
      <td>新入生顔合わせ</td>
      <td>神楽坂キャンパス教室未定</td>
      </tr>
      </tbody>
      </table>
      <p>
      4/17日は10時から！連絡不要！直接832教室へいらしてください！11半ごろに終わり、みんなでお昼を食べに行く予定です。<br> 2号館で試験をやっているようなので騒がないように注意してください。
      </p>
      <p>4/24日は6月のイベント会場である日本科学未来館が20日にリニューアルオープンのため、20日から24日まで<b>入館料無料です</b>。みんなで遊びに行きます。</p>
      <p>5/15日は6月11,12日の<b>イベントに参加したい方向けに</b>、部員の顔合わせを行います。</p>
    //
      <table class="layout_table">
      <tr>
      <td><time datetime="2015-05-17">2015年5月17日</time></td><td>13:00～18:00</td>
      <td>第3回団体会議</td><td>2号館223教室</td>
      </tr>
      <tr>
      <td><time datetime="2015-05-17">2015年5月17日</time></td><td>18:00～20:00</td>
      <td>第3回団体会議後食事会</td><td>秋葉原</td>
      </tr>
      <tr>
      <td><time datetime="2015-05-31">2015年5月31日</time></td><td>13:00～17:40</td>
      <td>2015年6月イベント直前部会</td><td>葛飾キャンパス</td>
      </tr>
      <tr>
      <td><time datetime="2015-06-04">2015年6月04日</time></td><td>11:00～13:00</td>
      <td>トラックへ積み込み</td><td>神楽坂キャンパス</td>
      </tr>
      <tr>
      <td><time datetime="2015-06-04">2015年6月04日</time></td><td>14:00～16:00</td>
      <td>トラックへ積み込み</td><td>葛飾キャンパス</td>
      </tr>
      <tr>
      <td><time datetime="2015-06-04">2015年6月04日</time></td><td>17:00～19:00</td>
      <td>トラックへ積み込み</td><td>野田キャンパス</td>
      </tr>
      <tr>
      <td><time datetime="2015-06-05">2015年6月05日</time></td><td>08:30～20:00</td>
      <td>前日設営</td><td>日本科学未来館</td>
      </tr>
      <tr>
      <td><time datetime="2015-06-06">2015年6月06日</time></td><td>08:00～20:00</td>
      <td>イベント当日1日目</td><td>日本科学未来館</td>
      </tr>
      <tr>
      <td><time datetime="2015-06-07">2015年6月07日</time></td><td>08:30～20:00</td>
      <td>イベント当日2日目</td><td>日本科学未来館</td>
      </tr>
      <tr>
      <td><time datetime="2015-06-04">2015年6月04日</time></td><td>11:00～13:00</td>
      <td>トラックから積みおろし</td><td>神楽坂キャンパス</td>
      </tr>
      <tr>
      <td><time datetime="2015-06-04">2015年6月04日</time></td><td>14:00～16:00</td>
      <td>トラックから積みおろし</td><td>葛飾キャンパス</td>
      </tr>
      <tr>
      <td><time datetime="2015-06-04">2015年6月04日</time></td><td>17:00～19:00</td>
      <td>トラックから積みおろし</td><td>野田キャンパス</td>
      </tr>
      </table>
  |         
  section
    h1 お問い合わせ
    p 新歓情報はこのHPでもお伝えしますが、メールしていただくと更新をお知らせします(予定)
    a(href='mailto:2017sinkan.miraiken@gmail.com') ✉: 2017sinkan.miraiken@gmail.com
    // <p>✉:2016sinkan.miraiken@gmail.com</p>
    p 学部学科と学年があるとスムーズです。その際、迷惑メール設定からこのメールアドレスを除外してください(メール送れない)
    // <div class="link_box"><a href="https://docs.google.com/forms/d/1fOIEH9PxbLNMZthsESdtSadOtqq-bA0HMjreCiYQg3U/viewform">新歓メールマガジン登録</a></div>
  section
    h1 部費
    p
      | 半年ごとに1,000円となります。但し、1年前期と4年後期は発生しないので、4年間で6,000円払うことになります。
      br
      | (部費の消費先が少ないので) 部費がリーズナブルになっています。
  section
    h1 委員の仕事
    p 主な活動内容は大きく分けて2つ。
    ol
      li イベントを開催するための準備（開催日当日以外のお仕事）
      li イベント当日の運営
    section
      h2 開催日当日以外のお仕事
      p
        | 当日までは総務班・企画班・広報班の3つの班に分かれて活動をします。 そこでは、数回行われる会議の準備やお金の管理はもちろん 理科大の団体さん（部活やサークル）にイベント参加の依頼をしたり、 小学校や公共施設、そして当日配るビラやポスターを作成したりしています！
      table.layout_table
        tr
          th 班名
          th 紹介
        tr
          td 総務班
          td
            | 総務班は、委員会がスムーズに動くことが出来るよう補佐する班です。
            br
            |  会議のセッティングや提出書類の作成など仕事の内容は様々です。
            br
            |  自分に合ったものを見つけることができますよ！
        tr
          td 企画班
          td
            | 企画班はイベントに出展していただく団体との交渉や企画内容の調整などを行っています。
            br
            |  イベントが徐々に出来上がっていくのがわかるので、「自分がイベントを作っているんだ」
            br
            |  と実感できます。
        tr
          td 広報班
          td
            | 広報班はイベント周知の為に様々な活動をしています！
            br
            |  このHPの管理や、ビラやポスターの作成が主なお仕事です。
            br
            |  その他にもアンケート作成などやりがいのある仕事がお待ちしています！
      p 詳しくは右側のリンクより総務班、企画班、広報班の詳細ページをご覧ください！
    section
      h2 イベント当日の運営
      p
        | 当日は来場したお客様に安全に楽しんでもらえるよう、
        br
        | 会場でご案内をするのがメインになります。
        br
        | 参加してくださったお客様の笑顔を間近で見ることができます!

prepend sidebar
  ul
    li.top
      a(href='index.html') 新歓TOP
    // <li><a href="general_affairs_department.html">総務班</a></li>
    li
      a(href='planning_department.html') 企画班
    li
      a(href='public_relations_department.html') 広報班
