extends /layout/index.pug

prepend contentSecurityPolicy
  - var defaultSrc = ['https://openclipart.org/image/300px/svg_to_png/']
  - var connectSrc = []

append head
  title 新入生向けページ|東京理科大学みらい研究室

block path
  | ホーム >> 新入生向けページ >> 企画班

block article
  h1 企画班
  section
    h2 活動内容
    ul
      li 出展団体への参加依頼
      li 出展団体へ各種書類の送付及び修正
      li 出展団体への企画調整
    p など主に出展団体とのやりとりを行っております。
  section
    h2 こんな人はぜひ企画班へ
    ol
      li イベントが完成する様子を1から経験したい！
      li みらい研委員以外の団体とも交流したい！
      li メールの送り方を身につけたい！
    img(width='150', alt='mail-marketing', src='https://openclipart.org/image/300px/svg_to_png/161449/mail-marketing.png')
    img(width='150', alt='nicubunu-Peer-to-peer', src='https://openclipart.org/image/300px/svg_to_png/22366/nicubunu-Peer-to-peer.png')
    // <img width="150" alt="manwithbread" src="https://openclipart.org/image/300px/svg_to_png/192389/manwithbread.png" />
    img(alt='illust2882', width='150', src=require('./resource/illust2882.png'))

prepend sidebar
  nav.side_nav
    ul
      li.top
        a(href='index.html') 新歓TOP
      // <li><a href="general_affairs_department.html">総務版</a></li>
      li
        a(href='planning_department.html') 企画班
      li
        a(href='public_relations_department.html') 広報班
