extends /layout/index.pug

prepend contentSecurityPolicy
  - var defaultSrc = ['\'unsafe-inline\'']
  - var connectSrc = []

append head
  link(rel='stylesheet', href='./exhibition.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css')
  title 科学へのトビラ 2018 企画一覧 | 東京理科大学みらい研究室

prepend header
  - var active = 'event'

block article
  h1(style='padding-left: 1rem')
    img(alt='科学へのトビラ', src=require('../../../common/logo/tobira.svg'), style='height: 1em; vertical-align: baseline')
    | とは?
  p
    | 小・中学生に科学の楽しさを伝えたいという想いを胸に、東京理科大学の学生が集まり
    | 2006 年から毎年開催している科学体験イベントです。
  a.btn.btn-lg.btn-primary(href='./', style='margin-bottom: 1rem')
    | イベントホームページ
  h1 企画一覧
  .card-columns
    .card
      .card-body
        i.material-icons.text-primary(alt='') help_outline
        ul
          li.h5 地球をENJOY!
          li.h5 生き物の秘密を解き明かそう!
          li.h5 未知との遭遇 #[br] 〜星との出逢い〜
      .card-footer
        h2.card-title.h4 宇宙と生き物のフシギ
    .card
      .card-body
        ul
          li.h5 見る!触る!化学実験
          li.h5 物理のフシギにふれよう!
        i.material-icons(alt='', style='color: #c55') touch_app
      .card-footer
        h2.card-title.h4 楽しく学ぶ理科
    .card
      .card-body
        i.material-icons(alt='', style='color: #f71') settings
        ul
          li.h5 ロボットと触れ合おう!
          li.h5 Formula Racing
          li.h5 模型飛行機を作ろう
      .card-footer
        h2.card-title.h4 機械について学ぼう
    .card
      .card-body
        ul
          li.h5 数学を楽しもう!
          li.h5 さんすうをたのしもう!
        i.material-icons(alt='', style='color: #26f') trending_up
      .card-footer
        h2.card-title.h4 君も さんすうマスター!
    .card
      .card-body
        div
          i.material-icons(alt='') colorize
          i.material-icons(alt='', style='color: #a0f') hearing
        ul
          li.h5 もくねんさんと手作りノート
          li.h5 楽しく学ぼう化学の不思議
          li.h5 身近な化学体験
          li.h5 音の科学
      .card-footer
        h2.card-title.h4 身近にある科学
  section.clearfix
    h2 東芝未来科学館による科学体験イベント
    i.material-icons(alt='', style='font-size: 8rem; color: #6a1b9a; float: right') search
    p.h5 ラゾーナ川崎プラザ2F ルーファ広場にて開催
    div(style='display: flex; flex-wrap: wrap; justify-content: space-around; max-width: 40rem')
      section.alert.alert-info
        h3 クロマトカラー実験室
        p 6 月 16 日(土)実施
      section.alert.alert-warning
        h3 偏光板のせかい
        p 6 月 17 日(日)実施
    p(style='margin-bottom: 0')
      | 対象年齢 4 歳以上、所要時間 30 分。 作ったものはお持ち帰りできます!
      | 未就学児は保護者同伴。
    p 協力: NPO 法人 CANVAS
  .callout
    p 企画内容は予告なく変更になる場合がございます。
    p 製作および実験の企画は、材料が無くなり次第終了とさせていただきます。
    p 整理券を配布するブースがございます。整理券は両日ともに先着順で、午前と午後の1日2回配布予定です。
    p 小学生以下は保護者同伴でご参加ください。
    p 実験体験風景などの写真は、サイエンスフェアの広報活動に使用させていただきます。
