extends /layout/index.pug

prepend contentSecurityPolicy
  - var defaultSrc = ['\'unsafe-inline\'']
  - var connectSrc = []

append head
  link(rel='stylesheet', href='./exhibition.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css')
  title 科学へのトビラ 2018 企画一覧 | 東京理科大学みらい研究室

prepend header
  - var active = 'event'

block article
  h1(style='padding-left: 1rem')
    img(alt='科学へのトビラ', src=require('../../../common/logo/tobira.svg'), style='height: 1em; vertical-align: baseline')
    | とは?
  p
    | 小・中学生に科学の楽しさを伝えたいという想いを胸に、東京理科大学の学生が集まり
    | 2006 年から毎年開催している科学体験イベントです。
  a.btn.btn-lg.btn-primary(href='./', style='margin-bottom: 1rem')
    | イベントホームページ
  h1 企画一覧
  h2#earth 地球をENJOY! #[small 地球科学研究部]
  p 鉱物や竜巻の発生させる装置やパワーストーンで作るリング作り、手回し発電機やウラン鉱から出る放射線を見ることなどができます。
  .section
    section
      h6 鉱物を観察しよう #[span.badge.text-white(style='background: #07f;') 展示]
      p 対象: 全年齢
    section
      h6 竜巻と雲の発生と観測方法を学ぼう #[span.badge.text-white(style='background: #07f;') 展示]
      p 対象: 小学生以上
    section
      h6 エメルギーと環境を考えよう #[span.badge.text-white(style='background: #07f;') 展示]
      p 対象: 全年齢
    section
      h6 霧箱装置を観察しよう #[span.badge.text-white(style='background: #07f;') 展示]
      p 対象: 小学生以上
    section
      h6 パワーストーンでリングを作ろう #[span.badge(style='background: #fb0; color: #222') 制作]
      p 対象: 全年齢
    section
      h6 元素単体美術展 #[span.badge.text-white(style='background: #07f;') 展示]
      p 対象: 小学生以上
  h2#stationery もくねんさんと手作りノート #[small 文具研究同好会]
  p 木くずの粘土でストラップを作ったり、インクブレンダー体験ができます。研究資料の展示も見てね！
  .section
    section
      h6 おが屑粘土！もくねんさん #[span.badge(style='background: #fb0; color: #222') 製作]
      p 対象: 全年齢
    section
      h6 世界に一つのインクを作ろう！ #[span.badge(style='background: #fb0; color: #222') 製作]
      p 対象: 全年齢
    section
      h6 何しているの文具研 #[span.badge.text-white(style='background: #07f;') 展示]
      p 対象: 全年齢
  h2#biology 生き物の秘密を解き明かそう！ #[small II部研究会生物研究部]
  p 昆虫や、普段見ることのない微生物、化石などを触れながら観察しよう！化石はレプリカも作ることができるよ！
  .section
    section
      h6 化石のレプリカを作ろう #[span.badge(style='background: #fb0; color: #222') 製作]
      p 対象: 小学生以上
    section
      h6 生態展示 #[span.badge.text-white(style='background: #07f;') 展示]
      p 対象: 全年齢
    section
      h6 顕微鏡で微生物を見てみよう #[span.badge.text-white(style='background: #1ab;') 実験]
      p 対象: 小学生以上
  h2#physics 物理のフシギにふれよう！ #[small 物理研究部]
  p 身のまわりには物理がいっぱい！さあ、キミもフシギな物理の世界をのぞいてみよう！
  .section
    section
      h6 光の色は何色！？ #[span.badge(style='background: #fb0; color: #222') 製作]
      p 対象: 小学生以上（製作者）
    section
      h6 ☆光の万華鏡☆ #[span.badge(style='background: #fb0; color: #222') 製作]
      p 対象: 全年齢
    section
      h6 ガウス加速器 #[span.badge.text-white(style='background: #07f;') 展示]
      p 対象: 全年齢
    section
      h6 二重振り子 #[span.badge.text-white(style='background: #07f;') 展示]
      p 対象: 全年齢

  h2#aircraft 模型飛行機を作ろう #[small Aircraft Makers]
  p 人力飛行機はどうやって飛ぶの？模型飛行機を作り、操縦体験、機体を実際に見て知ろう！
  .section
    section
      h6 模型飛行機を作ろう #[span.badge(style='background: #fb0; color: #222') 製作]
      p 対象: 全年齢
    section
      h6 人力飛行機を操縦してみよう #[span.badge.text-white(style='background: #07f;') 展示]
      p 対象: 小学生以上
    section
      h6 人力飛行機のことを知ろう #[span.badge.text-white(style='background: #07f;') 展示]
      p 対象: 全年齢
  h2#robot ロボットと触れ合おう！ #[small I部無線研究部]
  p 私たちが制作したロボットの操作体験ができます。二足歩行や多足歩行などたくさんのロボットがあります。
  .section
    section
      h6 第13回　ニソコン #[span.badge.text-white(style='background: #07f;') 展示]
      p 対象: 全年齢
    section
      h6 ロボットに触れ合おう！ #[span.badge.text-white(style='background: #07f;') 展示]
      p 対象: 全年齢
    section
      h6 ROBOT WARS 2018 #[span.badge.text-white(style='background: #07f;') 展示]
      p 対象: 全年齢
  h2#formula Formula Racing #[small 機械工学研究会]
  p 自分の力で君だけのレーシングカーを作ってみよう！
  .section
    section
      h6 レーシングカーに乗ってみよう！ #[span.badge.text-white(style='background: #07f;') 展示]
      p 対象: 全年齢
    section
      h6 自分だけのレーシングカーを作ってみよう！ #[span.badge(style='background: #fb0; color: #222') 製作]
      p 対象: 小学生以上
  h2#chemistry1 見る！触る！化学実験！ #[small I部化学研究部]
  p 学校では教えてくれない、不思議でマジックみたいな化学を体験してらいます。自作して持ち帰えることのできる実験もあります。
  .section
    section
      h6 錬金術師になろう！ #[span.badge(style='background: #fb0; color: #222') 製作]
      p 対象: 小学生以上
    section
      h6 科学捜査班になろう！ #[span.badge.text-white(style='background: #1ab;') 実験]
      p 対象: 小学生以上
    section
      h6 ダイラタンシー #[span.badge(style='background: #fb0; color: #222') 製作]
      p 対象: 全年齢
    section
      h6 不思議な液体 #[span.badge.text-white(style='background: #1ab;') 実験]
      p 対象: 全年齢
  h2#chemistry2 楽しく学ぼう化学の不思議 #[small II部化学研究部]
  p 身近なものを使って、匂いを吸い取り別のにおいがする芳香剤や、お風呂に入れる入浴剤、はねさせて遊ぶスーパーボールを作ります
  .section
    section
      h6 不思議な粉を使って作る芳香剤 #[span.badge.text-white(style='background: #1ab;') 実験]
      p 対象: 全年齢
    section
      h6 掃除用品で作れる入浴剤 #[span.badge.text-white(style='background: #1ab;') 実験]
      p 対象: 全年齢
    section
      h6 簡単に作れるスーパーボール #[span.badge.text-white(style='background: #1ab;') 実験]
      p 対象: 全年齢
  h2#chemistry_engineering 身近な化学体験 #[small 理工学部化学研究会]
  p 私たちの身の回りにあるものを使っているものを使って、化学の不思議を体験してみよう！
  .section
    section
      h6 割れない？シャボン玉 #[span.badge.text-white(style='background: #1ab;') 実験]
      p 対象: 全年齢
    section
      h6 人工イクラを作る #[span.badge.text-white(style='background: #1ab;') 実験]
      p 対象: 全年齢
    section
      h6 スライムを作ってみよう！ #[span.badge.text-white(style='background: #1ab;') 実験]
      p 対象: 全年齢
  h2#sound 音の科学 #[small サイエンスコミュニケーションサークルchibi lab.]
  p 声を代表とする「音」についての実験をいくつか用意しました.小さいお子さんでも十分楽しめるように用意してまいりますので是非来てください！
  .section
    section
      h6 なきごえコップを作ってみよう！ #[span.badge(style='background: #fb0; color: #222') 製作]
      p 対象: 全年齢
    section
      h6 音のフシギを体験しよう！ #[span.badge.text-white(style='background: #1ab;') 実験]
      p 対象: 小学生以上
  h2#math1 数学を楽しもう！ #[small I部数学研究部]
  p ルービックキューブやハノイの塔など数学に関係した様々なゲーム、遊びをやってます。一緒に考えながら数学の世界を楽しく体験しましょう！
  .section
    section
      h6 ルービックキューブ #[span.badge.text-white(style='background: #1ab;') 実験]
      p 対象: 小学生以上
    section
      h6 ハノイの塔 #[span.badge.text-white(style='background: #1ab;') 実験]
      p 対象: 小学生以上
    section
      h6 嘘つきあてゲーム #[span.badge.text-white(style='background: #1ab;') 実験]
      p 対象: 小学生以上
    section
      h6 四色問題 #[span.badge.text-white(style='background: #1ab;') 実験]
      p 対象: 全年齢
    section
      h6 一筆書きに挑戦 #[span.badge.text-white(style='background: #1ab;') 実験]
      p 対象: 全年齢
    section
      h6 数学豆知識 #[span.badge.text-white(style='background: #07f;') 展示]
      p 対象: 全年齢
  h2#math2 さんすうをたのしもう！ #[small II部研究会 数学研究部]
  p 少しでも算数や数学を楽しんでもらおうと100マス計算やパズルなどいろいろな体験を用意しました。これを通して、算数や数学の面白さ、奥深さを学んでみよう！
  .section
    section
      h6 100マス計算 #[span.badge.text-white(style='background: #1ab;') 実験]
      p 対象: 小学生以上
    section
      h6 マッチ棒パズル #[span.badge.text-white(style='background: #1ab;') 実験]
      p 対象: 小学生以上
    section
      h6 数理マジック #[span.badge.text-white(style='background: #1ab;') 実験]
      p 対象: 小学生以上
    section
      h6 数理パズル #[span.badge.text-white(style='background: #1ab;') 実験]
      p 対象: 小学生以上
  h2#astronomy 未知との遭遇 〜星との出逢い〜 #[small I部・II部天文研究部×野田天文研究会]
  p 夜空を見上げると輝く無数の星たち。その1つ1つに名前や物語があります。この機会に宇宙にほんの少し触れて見ませんか。
  .section
    section
      h6 プラネタリウム上映 #[span.badge.text-white(style='background: #07f;') 展示]
      p 対象: 全年齢
    section
      h6 写真展示 #[span.badge.text-white(style='background: #07f;') 展示]
      p 対象: 全年齢
    section
      h6 惑星展示 #[span.badge.text-white(style='background: #07f;') 展示]
      p 対象: 全年齢
