script(crossorigin='anonymous',
       integrity='sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f',
       src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
