@charset "UTF-8";
body {
	background-color:   #E0FFFF ;
	font-family: "IPAexゴシック", "IPAゴシック", "Lucida Grande", YuGothic, '游ゴシック', "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
}

input {
	font-family: "IPAexゴシック", "IPAゴシック", "Lucida Grande", YuGothic, '游ゴシック', "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	padding: 4px 2px;
}

#page_head_back {
	background-color: #ffffff;
	height: 557px;
	margin: 0 auto;
	background-image: url("./page_head_back.jpg");
	background-repeat: repeat-x;
	background-position: bottom;
}

#page_head_back_1 {
	background-color: #ffffff;
	height: 157px;
	margin: 0 auto;
	background-image: url("./page_head_back.jpg");
	background-repeat: repeat-x;
	background-position: bottom;
}

.toptitle {
	height: 90px;
}

.toptitle1 {
	margin: 0;
	font-size: 25px;
}

.toptitle2 {
	margin: 0;
	font-size: 35px;
	color: orange;
	line-height: 60px;
}

#page_head {
	width: 1110px;
	margin: 0 auto;
}

#topimage {
	width: 1110px;
	height: 400px;
	background-image: url("./top/back.jpg");
}
/* normal--*/
table.normal_table{
	margin: 20px;
}
table.normal_table td{
	border: solid 1px #000000;
	vertical-align: middle;
	text-align: left;
}
table.normal_table th{
	border: solid 1px #000000;
	vertical-align: middle;
	text-align: center;
}
/*-----  TOPページのスライドショー  -----*/
#slideshow {
	position: relative;
	width:  800px;
	height: 400px;
	margin: 0 auto;
}

#slideshow img {
	position: absolute;
	top: 0;
	left:0;
	z-index: 8;
	opacity: 0.0;
}

#slideshow img.active {
	z-index: 10;
	opacity: 1.0;
}

#slideshow img.last-active {
	z-index: 9;
}
/*----- タイトル＋SlideShow＋Menu  -----*/
#page_head .global_navi {
	padding-top: 0;
	width: 100%;
}

#page_head .global_navi ul li {
	list-style: none;
	width: 222px;
	height: 66px;
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	font-size: 16px;
	border-left: solid 1px #006000;;
	background-image: url("./arrow/default.jpg");
	background-repeat: no-repeat;
	background-position: 0 100%;
	font-weight: bold;
	color: #ffffff;
	margin: 0 auto;
	line-height: 22px;
}

#page_head .global_navi ul li:last-child {
	border-right: solid 1px #006000;
}

#page_head .global_navi ul li:hover {
	background-image: none;
	color: #009000;
	background-color: #aaffaa;
	background-image: url("./arrow/hover.jpg");
	background-repeat: no-repeat;
	background-position: 0 100%;
	border-bottom: none;
}

#page_head .global_navi ul li a {
	text-decoration: none;
	color: inherit;
	display: block;
	padding: 10px;
	width: 202px;
	height: 46px;
}

#page_head .global_navi ul {
	background-image: -webkit-linear-gradient(top, #aaffaa, #57b82b);
	background-image: -moz-linear-gradient(top, #aaffaa, #57b82b);
	background-image: -ms-linear-gradient(top, #aaffaa, #57b82b);
	background-image: -o-linear-gradient(top, #aaffaa, #57b82b);
	background-image: linear-gradient(to bottom, #aaffaa, #57b82b);
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border-top: solid 1px #006000;

}

#page_head .global_navi ul:after {
	content: "";
	clear: both;
	display: block;
}
/*-----  本体部分  -----*/

#page_body {
	width: 1108px;
	margin: 0 auto;
	border-left: solid 1px #000000;
	border-right: solid 1px #000000;
	background-color: #ffffff;
}

#page_body:after {
	content: "";
	clear: both;
	display: block;
}

.topic_path_back {
	width: 1108px;
	border-bottom: solid 1px #000000;
	height: 20px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #9ad9ea;
}

.topic_path {
	line-height: 20px;
	margin: 0;
	
}

#page_body_main {
	width: 800px;
	float: left;
	padding: 10px;
}

#page_body .pagetitle {
	background-image: url("./door.jpg");
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 25px;
	padding-top: 6px;
	border-bottom: solid 1px #009000;
	border-top: solid 1px #009000;
	font-size: 25px;
	padding-left: 30px;
}

#page_body .pagetitle_sub {
	font-size: 20px;
	border-bottom: solid 1px #009000;
	border-top: solid 1px #009000;
	border-left: solid 5px #009000;
}

#page_body_main .news {
	padding-left: 0;
}

#page_body_main .news table {
	width: 100%;
}

#page_body_main .news table tr th,
#page_body_main .news table tr td {
	font-size: 16px;
	line-height: 22px;
	border-bottom: dotted 1px #009000;
	vertical-align: top;
}

#page_body_main .news table tr th {
	white-space: nowrap;
	padding-right: 30px;
	text-align: left;
}

#page_body_main .news table tr td {
	width: 100%;
}

#page_body_main .lecture table {
	font-size: 14px;
	line-height: 1.429;
	border: 1px solid #CCCCCC;
	width: 80%;
	margin-left: 60px;
	margin-bottom: 20px;
	margin-top: 30px;
}

#page_body_main .lecture table th,
#page_body_main .lecture table td {
	border: 1px solid #CCCCCC;
	padding: 5px 10px;
}

#page_body_main .lecture table th {
	background-color: #EEEEEE;
	text-align: left;
}

#page_body_main .lecture table td {
	text-align: center;
}

#page_body_main .lecture img {
	display: block;
	margin: 0 auto;
}

.concept {
	font-size: 25px;
	text-align: center;
}

.content {
	font-size: 18px;
	text-align: center;
	line-height: 40px;
}

.content_1 {
	font-size: 18px;
	line-height: 40px;
	margin: 18px 50px;
}

ul.content_list{
	font-size: 18px;
	line-height: 18px;
	margin: 18px 50px;
}

.eventdate {
	font-size: 30px;
	text-align: center;
	margin: 0 auto;
}

#page_body_main .event_navi ul{
	list-style: none;
	width: 610px;
	margin: 0 auto;
	padding: 0;
}

#page_body_main .event_navi li {
	background-color: #b3f0af;
	background-image: -webkit-linear-gradient(top, #b3f0af, #57b82b);
	background-image: -moz-linear-gradient(top, #b3f0af, #57b82b);
	background-image: -ms-linear-gradient(top, #b3f0af, #57b82b);
	background-image: -o-linear-gradient(top, #b3f0af, #57b82b);
	background-image: linear-gradient(to bottom, #b3f0af, #57b82b);
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	color: #ffffff;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
}
#page_body_main .event_navi li.color_june{
	background-image: -webkit-linear-gradient(top, #f8b30a,#fa6603);
	background-image: -moz-linear-gradient(top,#f8b30a,#fa6603);
	background-image: -ms-linear-gradient(top, #f8b30a,#fa6603);
	background-image: -o-linear-gradient(top, #f8b30a,#fa6603);
	background-image: linear-gradient(to bottom,#f8b30a,#fa6603);
}
#page_body_main .event_navi li.color_march{
	background-image: -webkit-linear-gradient(top, #f98980,#e10d47);
	background-image: -moz-linear-gradient(top,#f98980,#e10d47);
	background-image: -ms-linear-gradient(top, #f98980,#e10d47);
	background-image: -o-linear-gradient(top, #f98980,#e10d47);
	background-image: linear-gradient(to bottom,#f98980,#e10d47);
}

#page_body_main .event_navi li:last-child {
	margin-right: 0;
}

#page_body_main .event_navi li:hover{
	opacity: 0.7;
}

#page_body_main .event_navi ul:after {
	content: "";
	clear: both;
	display: block;
}

#page_body_main .event_navi ul li a {
	text-decoration: none;
	color: inherit;
	display: block;
	padding: 20px 0;
	line-height: 35px;
	font-size: 30px;
}

#page_body_main iframe {
	margin-left: 100px;
}

footer p small{
	margin-left: 0;
}

#page_body_main div img{
	margin-left: 100px;
}

/*---- event情報などのためのside bar ----*/
#page_body_sub {
	width: 280px;
	float: right;
	padding: 10px 0;
}

#page_body_sub .button img {
	display: block;
	margin-left: 30px;
	margin-top: 20px;
}

#page_body_sub .side_navi ul {
	list-style: none;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 0;/* ブラウザの標準cssでpaddingされるのを防ぐ*/
	width: 240px;
}
#page_body_sub .side_navi li.top {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #57b82b;
	background-image: none;
	color: white;
}
#page_body_sub .side_navi li{
	border-left: solid 3px #57b82b;
	border-top: solid 1px #000000;
	border-bottom: solid 1px #000000;
	background-color: #57b82b;
	background-image: -webkit-linear-gradient(left, #57b82b, #98d98e);
	background-image: -moz-linear-gradient(left, #57b82b, #98d98e);
	background-image: -ms-linear-gradient(left, #57b82b, #98d98e);
	background-image: -o-linear-gradient(left, #57b82b, #98d98e);
	background-image: linear-gradient(to left, #57b82b, #98d98e);
	color: #ffffff;
	text-align: center;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	margin-left: 37px;
	margin-bottom: 1px;
	width: 240px;
}
#page_body_sub .side_navi ul li:hover {
	background-color:  #b3f0af;
	background-image: none;
	color: #ffffff;
}
#page_body_sub .side_navi li a {
	text-decoration: none;
	color: inherit;
	display: block;
	font-size: 17px;
	font-weight: bold;
	line-height: 20px;
	padding: 15px 0;
	width: 237px;
}

#page_body_sub .side_navi_event .title {
	text-align: center;
	width: 239px;
	border: solid 1px #000000;
	height: 60px;
	margin-bottom: 5px;
	margin-left: 40px;
	border-radius: 10px;
	font-size: 20px;
	line-height: 60px;
	font-weight: bold;
}

#page_body_sub .side_navi_event ul {
	list-style: none;
	width: 239px;
	margin-right: 0;
	margin-top: 0;
	padding-left: 0;
}

#page_body_sub .side_navi_event li{
	border-left: solid 3px #57b82b;
	border-top: solid 1px #000000;
	border-bottom: solid 1px #000000;
	background-color: #57b82b;
	background-image: -webkit-linear-gradient(left, #57b82b, #98d98e);
	background-image: -moz-linear-gradient(left, #57b82b, #98d98e);
	background-image: -ms-linear-gradient(left, #57b82b, #98d98e);
	background-image: -o-linear-gradient(left, #57b82b, #98d98e);
	background-image: linear-gradient(to left, #57b82b, #98d98e);
	color: #ffffff;
	text-align: center;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	margin-left: 37px;
	margin-bottom: 1px;
	width: 240px;
	height: 50px;
}
#page_body_sub .color_june p.title {
	border: solid 1px #000000;
	background-color: #fa6603;
	color: #ffffff;
}
#page_body_sub .color_march p.title {
	border: solid 1px #000000;
	background-color: #e10d47;
	color: #ffffff;
}
#page_body_sub nav.color_june ul li {
	border-left: solid 3px #fa6603;
	border-top: solid 1px #000000;
	border-bottom: solid 1px #000000;
	background-color: #fa6603;
	background-image: -webkit-linear-gradient(left, #ffffff, #f8b30a);
	background-image: -moz-linear-gradient(left, #ffffff, #f8b30a);
	background-image: -ms-linear-gradient(left, #ffffff, #f8b30a);
	background-image: -o-linear-gradient(left, #ffffff, #f8b30a);
	background-image: linear-gradient(to left, #ffffff, #f8b30a);
	color: #fa6603;
}
#page_body_sub nav.color_march ul li {
	border-left: solid 3px #e10d47;
	border-top: solid 1px #000000;
	border-bottom: solid 1px #000000;
	background-image: -webkit-linear-gradient(left, #ffffff, #f98980);
	background-image: -moz-linear-gradient(left, #ffffff, #f98980);
	background-image: -ms-linear-gradient(left, #ffffff, #f98980);
	background-image: -o-linear-gradient(left, #ffffff, #f98980);
	background-image: linear-gradient(to left, #ffffff, #f98980);
	color: #e10d47;
}

#page_body_sub nav.side_navi_event li.color_june{/*過去のHTMLとの互換性のためだけに存在*/
	border-left: solid 3px #fa6603;
	border-top: solid 1px #000000;
	border-bottom: solid 1px #000000;
	background-color: #fa6603;
	background-image: -webkit-linear-gradient(left, #fa6603, #f8b30a);
	background-image: -moz-linear-gradient(left, #fa6603, #f8b30a);
	background-image: -ms-linear-gradient(left, #fa6603, #f8b30a);
	background-image: -o-linear-gradient(left, #fa6603, #f8b30a);
	background-image: linear-gradient(to left, #fa6603, #f8b30a);
	color: #ffffff;
	height: 85px;
}

#page_body_sub nav.side_navi_event li.color_march{/*過去のHTMLとの互換性のためだけに存在*/
	border-left: solid 3px #e10d47;
	border-top: solid 1px #000000;
	border-bottom: solid 1px #000000;
	background-color: #e10d47;
	background-image: -webkit-linear-gradient(left, #e10d47, #f98980);
	background-image: -moz-linear-gradient(left, #e10d47, #f98980);
	background-image: -ms-linear-gradient(left, #e10d47, #f98980);
	background-image: -o-linear-gradient(left, #e10d47, #f98980);
	background-image: linear-gradient(to left, #e10d47, #f98980);
	color: #ffffff;
	height: 85px;
}

#page_body_sub .side_navi_event li:first-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #57b82b;
	background-image: none;
	color: white;
}
#page_body_sub nav.color_june li:first-child {
	background-color: #FA6603;
	background-image: none;
}
#page_body_sub nav.color_march li:first-child {
	background-color: #e10d47;
	background-image: none;
}

#page_body_sub .side_navi_event li:last-child {
	border-bottom-left-radius: 10px;
}

#page_body_sub .side_navi_event li a {
	text-decoration: none;
	color: inherit;
	display: block;
	font-size: 17px;
	font-weight: bold;
	line-height: 20px;
	padding: 15px 0;
	width: 237px;
}

#page_body_sub .side_navi_event ul li:hover {
	background-color:  #b3f0af;
	background-image: none;
	color: #ffffff;
}
#page_body_sub .color_june  ul li:hover {
	background-color:  #f8b30a;
	color: #ffffff;
}
#page_body_sub .color_march ul li:hover {
	background-color:  #f98980;
	color: #ffffff;
}
#page_body_sub .side_navi_event ul li.color_june:hover {
	background-color:  #f8b30a;
	color: #ffffff;
}
#page_body_sub .side_navi_event ul li.color_march:hover {
	background-color:  #f98980;
	color: #ffffff;
}
#page_foot {
	border-top: solid 2px #009000;
	margin-top: 1.5;
}

#page_foot p {
	font-size: 12px;
	text-align: center;
}
div.link_box{
	background-color: #FF5959;
	border: 3px #FF5959 solid;     /* 枠線の装飾 */
	width: 230px;
	color: #ffffff;
	-moz-border-radius: 10px;    /* Firefox */
	-webkit-border-radius: 10px; /* Safari,Chrome */
	border-radius: 10px;         /* CSS3 */
	margin: 10px auto 10px auto;
}
div.link_box a{
	display: block;
	background-color: inherit;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
	padding: 15px 0;
	text-align: center;
	color: inherit;
}
