extends /layout/index.pug

append head
  title 会場アクセス|科学へのトビラ|東京理科大学みらい研究室
  link(rel='stylesheet', href='../../june.css')

prepend header
  - var active = 'event'

block article
  section
    h1 会場アクセス
    |           
    p
      | 会場：日本科学未来館
      br
      |  所在地：東京都江東区青海2-3-6
    |           
    p
      | 詳しい交通案内は日本科学未来館HPを御覧ください。
      br
      |             
      a(href='http://www.miraikan.jst.go.jp/guide/route/') http://www.miraikan.jst.go.jp/guide/route/
    |           
    iframe(width='600', height='400', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.co.jp/maps?f=q&source=s_q&hl=ja&geocode=&q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B1%9F%E6%9D%B1%E5%8C%BA%E9%9D%92%E6%B5%B7%EF%BC%92%E4%B8%81%E7%9B%AE%EF%BC%93%E2%88%92%EF%BC%96&aq=&brcurrent=3,0x601889fef37135c5:0xe42620bbdc7b8831,1,0x601889fe842ea297:0x2310b83b6e2a6ee4&brv=27.1-cfcb28d3_7d169ccb_7b913f65_cd3b751f_fa22d089&sll=35.618976,139.776646&sspn=0.011547,0.026157&ie=UTF8&hq=&hnear=%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B1%9F%E6%9D%B1%E5%8C%BA%E9%9D%92%E6%B5%B7%EF%BC%92%E4%B8%81%E7%9B%AE%EF%BC%93%E2%88%92%EF%BC%96&ll=35.618983,139.776649&spn=0.011547,0.026157&t=m&z=14&output=embed')
    br
    small
      a(href='https://maps.google.co.jp/maps?f=q&source=embed&hl=ja&geocode=&q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B1%9F%E6%9D%B1%E5%8C%BA%E9%9D%92%E6%B5%B7%EF%BC%92%E4%B8%81%E7%9B%AE%EF%BC%93%E2%88%92%EF%BC%96&aq=&brcurrent=3,0x601889fef37135c5:0xe42620bbdc7b8831,1,0x601889fe842ea297:0x2310b83b6e2a6ee4&brv=27.1-cfcb28d3_7d169ccb_7b913f65_cd3b751f_fa22d089&sll=35.618976,139.776646&sspn=0.011547,0.026157&ie=UTF8&hq=&hnear=%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B1%9F%E6%9D%B1%E5%8C%BA%E9%9D%92%E6%B5%B7%EF%BC%92%E4%B8%81%E7%9B%AE%EF%BC%93%E2%88%92%EF%BC%96&ll=35.618983,139.776649&spn=0.011547,0.026157&t=m&z=14', style='color:#0000FF;text-align:left') 大きな地図で見る
    br
    br
    p 会場にお越しの際は、公共交通機関をご利用ください。

prepend sidebar
  ul.color_june
    li
      a(href='index.html') イベント概要
    |       
    li
      a(href='exhibition.html') 企画案内
    |       
    li
      a(href='nisokon.html') ニソコン in みらい研究室
    |       
    li
      a(href='lecture.html') 講演会
    |       
    li
      a(href='workshop.html') ワークショップ
    |       
    li
      a(href='access.html') 会場アクセス
