doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    |   
    title 企画案内|科学へのトビラ|東京理科大学みらい研究室
    |   
    include /google_analytics.pug
    |   
    include /normalize-5.0.0.pug
    |   
    link(rel='stylesheet', href='../../../common/layout.css')
    |   
    link(rel='stylesheet', href='./resource/css/style.css')
    |   
    include /jquery-3.2.1.pug
    |   
    script(crossorigin='anonoymous',
           integrity='sha384-d+UOwmNNIC7V4izkTAKSXzWhjC2GxiS9PTykO1XdOPC3nc2z65UOS7SP6QdKPA70'
           src='https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js')
  body
    #page
      #page_head_back_1
        header#page_head
          .toptitle
            h1.toptitle1
              | 東京理科大学サイエンスフェア学生企画
              br
            |           
            h1.toptitle2 みらい研究室実行委員会
          |         
          nav.global_navi
            ul
              li
                a(href='../../../index.html')
                  | ホーム
                  br
                  | HOME
              |             
              li
                a(href='../../../event/index.html')
                  | イベント情報
                  br
                  | EVENT
              |             
              li
                a(href='../../../contact/index.html')
                  | お問い合わせ
                  br
                  | CONTACT
              |             
              li
                a(href='../../../link/index.html')
                  | リンク
                  br
                  | LINK
              |             
              li
                a(href='../../../for_freshman/index.html')
                  | 新入生向けページ
                  br
                  | for Freshman
      |     
      #page_body
        #particles_js
        |       
        .topic_path_back
          p.topic_path ホーム >> イベント情報 >> みらい研究室 ～科学へのトビラ～ >> 企画案内
        |       
        #page_body_main
          section
            h1.pagetitle 企画案内
            |           
            input.btn.geoscience(type='button', value='自然のふしぎ')
            |           
            input.btn.math(type='button', value='未知のせかい')
            |           
            input.btn.industrial(type='button', value='のりものとロボット')
            |           
            input.btn.chemistory(type='button', value='はじめての化学')
            |           
            section-1st_floor
              section#aria_chemistory.section
                article#description_rikoukaken.project_info
                  .project_info_main
                    section.project_titile
                      h2 身近な化学体験
                      |                     
                      p 理工学部化学研究会
                    |                   
                    .project_info_introduce
                      p 私たちの身の回りにあるものを使っているものを使って、化学の不思議を体験してみよう！
                  |                 
                  article.project_info_detail
                    section
                      h3 噴火実験
                      |                     
                      p 身近な化学反応によって起こる、世にも不思議な現象をその目で確かめよう！
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 全年齢
                            |                           
                            td 5
                    |                   
                    section
                      h3 海底火山の大噴火
                      |                     
                      p 液体の中で起こる、爆発と色の変化を確かめてみよう！
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 全年齢
                            |                           
                            td 5
                    |                   
                    section
                      h3 割れないシャボン玉
                      |                     
                      p 身近なものを使って作る特別なシャボン玉を実際に触って確かめてみよう！
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 全年齢
                            |                           
                            td 5
                    |                   
                    section
                      h3 人工イクラを作る
                      |                     
                      p 身近な物質でカラフルなイクラをつくってみよう！作ったイクラは持ち帰ることができます
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 全年齢
                            |                           
                            td 5
                |               
                article#description_ichikaken.project_info
                  .project_info_main
                    section.project_titile
                      h2 見て、さわって楽しむ化学
                      |                     
                      p Ⅰ部化学研究部
                    |                   
                    .project_info_introduce
                      p 化学反応を自分の目で見て、何が起こっているのかを実際にさわって体験しよう。色や状態の変化から化学の不思議に触れ楽しもう。
                  |                 
                  article.project_info_detail
                    section
                      h3 ダイラタンシー
                      |                     
                      p 片栗粉と色水を使ってダイラタンシー現象を再現し、不思議な触感を体験してもらう。ジップロックに作ってもらうため持ち帰り可能。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 製作
                            |                           
                            td 全年齢
                            |                           
                            td 5
                    |                   
                    section
                      h3 不思議な液体
                      |                     
                      p
                        | 水酸化ナトリウムとグルコースを入れたインジゴカルミン溶液とメチレンブルー溶液をペットボトルに用意し、振ってもらって酸化還元反応により色が変わることを体験してもらう。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 全年齢
                            |                           
                            td 5
                    |                   
                    section
                      h3 アサガオをつくろう
                      |                     
                      p 丸い紙をアサガオの花のように折って開いた後、紙の真ん中に水性ペンで丸を書いて水につけペーパークロマトグラフィーを行う。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 製作
                            |                           
                            td 全年齢
                            |                           
                            td 5
                    |                   
                    section
                      h3 水を一瞬で凍らせよう
                      |                     
                      p 過冷却状態の酢酸ナトリウム飽和溶液に結晶を落として一気に溶液が結晶化する様子を観察する。一回10人が定員で20分に一回行う。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 3歳以上
                            |                           
                            td 10
                |               
                article#description_nikaken.project_info
                  .project_info_main
                    section.project_titile
                      h2 かんたんふしぎな化学実験
                      |                     
                      p Ⅱ部化学研究部＆野老実験クラブ
                    |                   
                    .project_info_introduce
                  |                 
                  article.project_info_detail
                    section
                      h3 入浴剤
                      |                     
                      p
                        | "重曹とクエン酸をかき混ぜて、アロマオイルを入れる。エタノール水を吹きかけて固めて完成。 "
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 全年齢
                            |                           
                            td 5
                    |                   
                    section
                      h3 発泡スチロールスタンプ
                      |                     
                      p
                        | "お菓子の型とリモネンを使って発泡スチロールを溶かし、オリジナルスタンプを作り完成。 "
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 全年齢
                            |                           
                            td 5
                    |                   
                    section
                      h3 スライム
                      |                     
                      p 洗濯糊（PVA)とホウ砂、色水を混ぜるだけで簡単にスライムを作ります。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 全年齢
                            |                           
                            td 5
                    |                   
                    section
                      h3 めざせ！分子マスター！
                      |                     
                      p
                        | "モルタロウを使って簡単な分子モデルを組み立ててみよう！ （分子モデルの持ち帰り）と化学計算に挑戦！"
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 製作
                            |                           
                            td 小学生から
                            |                           
                            td 10～15
                |               
                article#description_chibilab.project_info
                  .project_info_main
                    section.project_titile
                      h2 科学への道
                      |                     
                      p サイエンスコミュニケーションサークルchibilab.
                    |                   
                    .project_info_introduce
                      p 小さなお子様にもお楽しみ頂ける簡単な化学実験を行っています。実験で作ったものはすべてお持ち帰りできます。
                  |                 
                  article.project_info_detail
                    section
                      h3 紙コップきゅうばん
                      |                     
                      p 自分で作った吸盤を使って大気圧を体験してみよう！
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 製作
                            |                           
                            td 6～12歳
                            |                           
                            td 15
                    |                   
                    section
                      h3 ハーブティーの色の変化を見てみよう
                      |                     
                      p ハーブティーにクエン酸と重そうを入れて、色の変化を見てみよう！
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 6～12歳
                            |                           
                            td 6
              |             
              section#aria_geoscience.section
                article#description_chikaken.project_info
                  .project_info_main
                    section.project_titile
                      h2 地球をENJOY!
                      |                     
                      p 地球科学研究部
                    |                   
                    .project_info_introduce
                      p 竜巻、落雷装置、海流装置、霧箱、鉱物を展示しています。地球学研究しませんか?
                  |                 
                  article.project_info_detail
                    section
                      h3 竜巻と雲を観察しよう
                      |                     
                      p 竜巻装置を地球科学研究部で展示しています。装置を見て、実物に近い形を見ながら学びましょう！
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 展示
                            |                           
                            td 全年齢
                            |                           
                            td 5
                    |                   
                    section
                      h3 落雷を観察しよう
                      |                     
                      p 雷の仕組みを簡単な装置を使って説明します。擬似的な雷を見ることもできます。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 展示
                            |                           
                            td 全年齢
                            |                           
                            td 5
                    |                   
                    section
                      h3 鉱物を観察しよう
                      |                     
                      p 鉱物は奥が深く、地球には様々な鉱物があります。水晶、カンラン石・・・。感じながら学びましょう。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 展示
                            |                           
                            td 全年齢
                            |                           
                            td 5
                    |                   
                    section
                      h3 霧箱装置を観察しよう
                      |                     
                      p 霧箱装置を展示しています。ごく微量の放射線を観察できる形にしています。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 展示
                            |                           
                            td 全年齢
                            |                           
                            td 5
                    |                   
                    section
                      h3 パワーストーンでリングを作ろう
                      |                     
                      p パワーストーンでリングを作りながら鉱物について学べます。宝くじ当たっちゃうかも！？
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 製作
                            |                           
                            td 5歳以上
                            |                           
                            td 30
                |               
                article#description_seibutuken.project_info
                  .project_info_main
                    section.project_titile
                      h2 生き物の秘密を解き明かそう！
                      |                     
                      p Ⅱ部研究会生物研究部
                    |                   
                    .project_info_introduce
                      p 化石のレプリカを作ろう！昆虫やプランクトンも見れるよ！遊びに来てね！
                  |                 
                  article.project_info_detail
                    section
                      h3 化石のレプリカを作ろう
                      |                     
                      p アンモナイトなどの化石のレプリカを作る
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 製作
                            |                           
                            td 6～12歳
                            |                           
                            td 20
                    |                   
                    section
                      h3 生態展示
                      |                     
                      p II部研究会生物研究部で飼育している生き物を展示する
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 展示
                            |                           
                            td 全年齢
                            |                           
                            td
                |               
                article#description_icibukken.project_info
                  .project_info_main
                    section.project_titile
                      h2 物理の不思議にふれよう！
                      |                     
                      p Ⅰ部物理研究部
                    |                   
                    .project_info_introduce
                      p 「物理」ってなんだか難しそう…。でも実際はそんなことありません。みなさんの周りは物理現象で溢れています！この機会に物理の楽しさを体験してみよう！
                  |                 
                  article.project_info_detail
                    section
                      h3 光の色は何色！？
                      |                     
                      p 画用紙で簡易分光器を作り、会場の光などを使い原理を説明する。工作したものは持ち帰りできる。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 製作
                            |                           
                            td 小学生以上（製作者）
                            |                           
                            td 15～25
                    |                   
                    section
                      h3 ☆光の万華鏡☆
                      |                     
                      p 偏光板の間に重ねたセロハンテープを挟むといろんな色が見える現象を利用した万華鏡（本体は紙コップ制）を作る。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 製作
                            |                           
                            td 全年齢
                            |                           
                            td 10～20
                    |                   
                    section
                      h3 手があってもくっつく強力磁石！
                      |                     
                      p ネオジム磁石の強力さを体験してもらう。簡単なガウス加速器も展示し、説明する。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 全年齢
                            |                           
                            td 5～10
                    |                   
                    section
                      h3 磁場発生実験！
                      |                     
                      p 金属管の中にネオジム磁石を落とし、落下の様子を観察するなど電磁誘導を体験する簡単な実験を行う。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 全年齢
                            |                           
                            td 5～15
                    |                   
                    section
                      h3 振り子の不思議
                      |                     
                      p 腕の長さの異なる振り子の運動を観察する。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 全年齢
                            |                           
                            td 5
                |               
                article#description_bunngukenn.project_info
                  .project_info_main
                    section.project_titile
                      h2 インクで科学する！
                      |                     
                      p 文具研究同好会
                    |                   
                    .project_info_introduce
                      p 普段何気なく使っているインクには不思議がつまっています！不思議を解き明かしてみませんか？
                  |                 
                  article.project_info_detail
                    section
                      h3 インクブレンダーへの道
                      |                     
                      p ミックスフリーという混合可能なインクを使って自分好みのインクを作ります。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 製作
                            |                           
                            td 6～12歳
                            |                           
                            td 20
                    |                   
                    section
                      h3 消えるインクの実験
                      |                     
                      p 消えるインクの実験を講義形式で行います。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 6～12歳
                            |                           
                            td 20
                    |                   
                    section
                      h3 シーリングワックス
                      |                     
                      p 封筒に封をする「封蝋」の体験をしてもらいます
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 製作
                            |                           
                            td 6～12歳
                            |                           
                            td 20
              |             
              section#aria_math.section
                article#description_ichisuuken.project_info
                  .project_info_main
                    section.project_titile
                      h2 それいけ!数学体験教室
                      |                     
                      p Ⅰ部数学研究部
                    |                   
                    .project_info_introduce
                      p ルービックキューブやハノイの塔など数学に関係した様々なゲーム、遊びをやってます。一緒に考えながら数学の世界を楽しく体験しましょう!
                  |                 
                  article.project_info_detail
                    section
                      h3 ルービックキューブ
                      |                     
                      p ルービックキューブの完全一面の作り方を教えます。希望者には六面の作り方まで教えます。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 8歳以上
                            |                           
                            td 10～15
                    |                   
                    section
                      h3 ハノイの塔
                      |                     
                      p 決められたルールの中で、3段の箱を目的の形まで移動させるゲームです。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 6歳以上
                            |                           
                            td 5～10
                    |                   
                    section
                      h3 嘘つき当てゲーム
                      |                     
                      p 複数人の会話をもとにして正直者と嘘つき者を当てるゲームです。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 6歳以上
                            |                           
                            td 5～10
                    |                   
                    section
                      h3 四色問題実験
                      |                     
                      p いくつかの形を組み合わせて出来ている図形や地図を、隣り合う図形の色が同じにならないように四つの色で塗り分けてもらう実験です。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 5歳以上
                            |                           
                            td 10～15
                    |                   
                    section
                      h3 一筆書きに挑戦
                      |                     
                      p こちらの用意した様々な形が一筆書きで書くことができるのか挑戦してもらいます。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 4歳以上
                            |                           
                            td 5～10
                    |                   
                    section
                      h3 数学豆知識
                      |                     
                      p ホワイトボードにいろいろな数学の知識や簡単な問題が書かれています。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 全年齢
                            |                           
                            td 1～2
                |               
                article#description_nisuuken.project_info
                  .project_info_main
                    section.project_titile
                      h2 さんすうをたのしもう！
                      |                     
                      p Ⅱ部数学研究部
                    |                   
                    .project_info_introduce
                      p 算数がきっと楽しくなるような企画がたくさんあります！ぜひ体験してください！
                  |                 
                  article.project_info_detail
                    section
                      h3 100マス計算
                      |                     
                      p 100マス計算をして、タイムを競います。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 全学年
                            |                           
                            td 2～5
                    |                   
                    section
                      h3 マッチ棒クイズ
                      |                     
                      p マッチ棒(綿棒）で数理ゲームをします。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 全学年
                            |                           
                            td 3～7
                    |                   
                    section
                      h3 数理マジック
                      |                     
                      p 数学を応用した簡単なマジックをします。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 全学年
                            |                           
                            td 3
                    |                   
                    section
                      h3 数理パズル
                      |                     
                      p 数学を応用してパズルに挑みます。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 実験
                            |                           
                            td 全学年
                            |                           
                            td 3
                |               
                article#description_tenmonken.project_info
                  .project_info_main
                    section.project_titile
                      h2 目指せ宇宙博士！
                      |                     
                      p Ⅰ部Ⅱ部天文研究部+野田天文研究部
                    |                   
                    .project_info_introduce
                  |                 
                  article.project_info_detail
                    section
                      h3 プラネタリウム上映会
                      |                     
                      p 春・夏頃のプラネタリウムを上映
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 展示
                            |                           
                            td 3歳以上
                            |                           
                            td 30
                    |                   
                    section
                      h3 春の星空展
                      |                     
                      p 3～６月にかけて撮影された写真を中心に展示します
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 展示
                            |                           
                            td 全年齢
                            |                           
                            td 5
                    |                   
                    section
                      h3 太陽動画展示
                      |                     
                      p 部で撮影した太陽の動画を見ながら、太陽の秘密に迫まろう
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 展示
                            |                           
                            td 全年齢
                            |                           
                            td 10
                    |                   
                    section
                      h3 宇宙絵本
                      |                     
                      p 宇宙のことについて説明した絵本を使って説明します
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 展示
                            |                           
                            td 全年齢
                            |                           
                            td 10
                    |                   
                    section
                      h3 手作りプラネタリウム
                      |                     
                      p 自分の手でプラネタリウムを作ろう
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 製作
                            |                           
                            td 小学生以上
                            |                           
                            td 30
                    |                   
                    section
                      h3 惑星模型
                      |                     
                      p 太陽系の惑星を再現した模型を見ながら惑星の知識を深めよう
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 展示
                            |                           
                            td 全年齢
                            |                           
                            td 5
              |             
              section#aria_industrial.section
                article#description_kikoukaken.project_info
                  .project_info_main
                    section.project_titile
                      h2 Formula Racing
                      |                     
                      p 機械工学研究会
                    |                   
                    .project_info_introduce
                      p 自分の力で君だけのレーシングカーを作ってみよう！
                  |                 
                  article.project_info_detail
                    section
                      h3 レーシングカーに乗ってみよう！
                      |                     
                      p フォーミュラカーに実際に乗ってもらう。写真撮影など
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 展示
                            |                           
                            td 全年齢
                            |                           
                            td
                    |                   
                    section
                      h3 自分だけのレーシングカーを作ってみよう！
                      |                     
                      p 紙でレーシングカーの模型を製作する
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 製作
                            |                           
                            td 小学生低学年～
                            |                           
                            td 20
                |               
                article#description_acm.project_info
                  .project_info_main
                    section.project_titile
                      h2 You can fly!!
                      |                     
                      p Aircraft Makers
                    |                   
                    .project_info_introduce
                      p 人力飛行機はどうやって飛ぶの？模型飛行機作り、操縦体験、機体を実際に見て知ろう！
                  |                 
                  article.project_info_detail
                    section
                      h3 模型飛行機を作ろう
                      |                     
                      p
                        | 子供たちにスチレンペーパー、ヒノキ棒を使い模型飛行機を作ってもらいます。AircraftMakersの部員が簡単なスチレンペーパーの切り出しの設計図を渡し、一人一人に作り方を説明します。 また、飛行機を飛ばせるスペースを設けてそこで飛ばしてもらいます。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 製作
                            |                           
                            td 全年齢
                            |                           
                            td 15
                    |                   
                    section
                      h3 人力飛行機を操縦してみよう
                      |                     
                      p フライトシミュレーターを使い実際に人力飛行機の操縦を体験してもらいます。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 展示
                            |                           
                            td 全年齢
                            |                           
                            td 2
                    |                   
                    section
                      h3 人力飛行機のことを知ろう
                      |                     
                      p
                        | 人力飛行機の駆動部の仕組み、翼を実際の人力飛行機を2m程に小さくした模型を使いAircraftMakersの部員が説明します。また、実際に使用したプロペラの展示をします。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 展示
                            |                           
                            td 全年齢
                            |                           
                            td 5
                |               
                article#description_musenken.project_info
                  .project_info_main
                    section.project_titile
                      h2 ロボットと触れ合おう！
                      |                     
                      p Ⅰ部無線研究部
                    |                   
                    .project_info_introduce
                      p 私たちが製作したロボットの操作体験が出来ます。二足歩行や多足歩行などたくさんのロボットがあります。
                  |                 
                  article.project_info_detail
                    section
                      h3 第11回　ニソコン in みらい研究室
                      |                     
                      p 二足歩行ロボットによるトーナメントレスリングや、アスリート競技大会です。熱いバトルは必見！
                      |                     
                      p
                        | 詳細は
                        a(href='nisokon.html') こちら
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 展示
                            |                           
                            td 全年齢
                            |                           
                            td
                    |                   
                    section
                      h3 ロボットに触れよう！
                      |                     
                      p 私たちが製作したロボットの操作体験が出来ます。二足歩行や多足歩行などたくさんのロボットがあります。
                      |                     
                      table
                        thead
                          tr
                            th 企画形態
                            |                           
                            th 対象年齢
                            |                           
                            th 所要時間(分)
                        |                       
                        tbody
                          tr
                            td 展示
                            |                           
                            td 全年齢
                            |                           
                            td 5
        |       
        #page_body_sub
          nav.side_navi_event.color_june
            ul
              li
                a(href='index.html') イベント概要
              |             
              li
                a(href='exhibition.html') 企画案内
              |             
              li
                a(href='nisokon.html') ニソコン in みらい研究室
              |             
              li
                a(href='lecture.html') 講演会
              |             
              li
                a(href='workshop.html') ワークショップ
              |             
              li
                a(href='access.html') 会場アクセス
      |     
      footer#page_foot
        p#copyright
          small
            | Copyright © #{lastModified.getFullYear()}
            | 東京理科大学みらい研究室～科学へのトビラ～ All rights reserved.
            | #{lastModified.toLocaleString("ja", {timeZone: "Asia/Tokyo"})}
    script(src='./resource/js/script.js')
