extends /layout/index.pug

append head
  title ニソコン in みらい研究室|科学へのトビラ|東京理科大学みらい研究室
  link(rel='stylesheet', href='../../june.css')
  link(rel='stylesheet', href='./resource/css/style.css')

block path
  | ホーム >> イベント情報 >> みらい研究室 ～科学へのトビラ～ >> ニソコン in みらい研究室

block article
  section
    h1.pagetitle ニソコン in みらい研究室
    |           
    p.content_1
      | 二足歩行ロボットによるトーナメントバトルやアスリート競技大会です。
      br
      |  多数の二足歩行ロボットをぜひご覧ください！
    |           
    section
      h2.pagetitle_sub 競技内容
      |             
      dl
        dt 障害物競走
        |               
        dd 二足歩行ロボットによる障害物競走
        |               
        dt 格闘競技大会
        |               
        dd ロボット同士の熱いトーナメント戦！
        |               
        dt 格闘競技エキシビジョンマッチ
        |               
        dd トーナメントで実現しなかった夢の対決！
    |           
    section
      h2.pagetitle_sub タイムスケジュール
      |             
      table.normal_table
        tbody
          tr
            td 10:00
            |                   
            td 受付開始
          |                 
          tr
            td 10:40
            |                   
            td 開会式
          |                 
          tr
            td 10:45
            |                   
            td 障害物競技開始
          |                 
          tr
            td 12:00
            |                   
            td お昼休み
          |                 
          tr
            td 13:00
            |                   
            td 格闘競技大会開始
          |                 
          tr
            td 15:00
            |                   
            td 格闘競技エキシビジョンマッチ開始
          |                 
          tr
            td 16:15
            |                   
            td 閉会式

prepend sidebar
  nav.side_navi_event.color_june
    ul
      li
        a(href='index.html') イベント概要
      |             
      li
        a(href='exhibition.html') 企画案内
      |             
      li
        a(href='nisokon.html') ニソコン in みらい研究室
      |             
      li
        a(href='lecture.html') 講演会
      |             
      li
        a(href='workshop.html') ワークショップ
      |             
      li
        a(href='access.html') 会場アクセス
  //
    <nav class="side_navi">
    <ul>
    <li><a href="../members/index.html">企画出展者向け<br>情報提供ページ</a></li>
    <li><a href="../for_freshman/index.html">新入生向けページ</a></li>
    </ul>
    </nav>
