doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    |   
    title ニソコン in みらい研究室|科学へのトビラ|東京理科大学みらい研究室
    |   
    include /google_analytics.pug
    |   
    include /normalize-5.0.0.pug
    |   
    link(rel='stylesheet', href='../../../common/layout.css')
    |   
    link(rel='stylesheet', href='./resource/css/style.css')
  body
    #page
      #page_head_back_1
        header#page_head
          .toptitle
            h1.toptitle1
              | 東京理科大学サイエンスフェア学生企画
              br
            |           
            h1.toptitle2 みらい研究室実行委員会
          |         
          nav.global_navi
            ul
              li
                a(href='../../../index.html')
                  | ホーム
                  br
                  | HOME
              |             
              li
                a(href='../../../event/index.html')
                  | イベント情報
                  br
                  | EVENT
              |             
              li
                a(href='../../../contact/index.html')
                  | お問い合わせ
                  br
                  | CONTACT
              |             
              li
                a(href='../../../link/index.html')
                  | リンク
                  br
                  | LINK
              |             
              li
                a(href='../../../for_freshman/index.html')
                  | 新入生向けページ
                  br
                  | for Freshman
      |     
      #page_body
        .topic_path_back
          p.topic_path ホーム >> イベント情報 >> みらい研究室 ～科学へのトビラ～ >> ニソコン in みらい研究室
        |       
        #page_body_main
          section
            h1.pagetitle ニソコン in みらい研究室
            |           
            p.content_1
              | 二足歩行ロボットによるトーナメントバトルやアスリート競技大会です。
              br
              |  多数の二足歩行ロボットをぜひご覧ください！
            |           
            section
              h2.pagetitle_sub 競技内容
              |             
              dl
                dt 障害物競走
                |               
                dd 二足歩行ロボットによる障害物競走
                |               
                dt 格闘競技大会
                |               
                dd ロボット同士の熱いトーナメント戦！
                |               
                dt 格闘競技エキシビジョンマッチ
                |               
                dd トーナメントで実現しなかった夢の対決！
            |           
            section
              h2.pagetitle_sub タイムスケジュール
              |             
              table.normal_table
                tbody
                  tr
                    td 10:00
                    |                   
                    td 受付開始
                  |                 
                  tr
                    td 10:40
                    |                   
                    td 開会式
                  |                 
                  tr
                    td 10:45
                    |                   
                    td 障害物競技開始
                  |                 
                  tr
                    td 12:00
                    |                   
                    td お昼休み
                  |                 
                  tr
                    td 13:00
                    |                   
                    td 格闘競技大会開始
                  |                 
                  tr
                    td 15:00
                    |                   
                    td 格闘競技エキシビジョンマッチ開始
                  |                 
                  tr
                    td 16:15
                    |                   
                    td 閉会式
        |       
        #page_body_sub
          nav.side_navi_event.color_june
            ul
              li
                a(href='index.html') イベント概要
              |             
              li
                a(href='exhibition.html') 企画案内
              |             
              li
                a(href='nisokon.html') ニソコン in みらい研究室
              |             
              li
                a(href='lecture.html') 講演会
              |             
              li
                a(href='workshop.html') ワークショップ
              |             
              li
                a(href='access.html') 会場アクセス
          //
            <nav class="side_navi">
            <ul>
            <li><a href="../members/index.html">企画出展者向け<br>情報提供ページ</a></li>
            <li><a href="../for_freshman/index.html">新入生向けページ</a></li>
            </ul>
            </nav>
      |     
      footer#page_foot
        p#copyright
          small
            | Copyright © #{lastModified.getFullYear()}
            | 東京理科大学みらい研究室～科学へのトビラ～ All rights reserved.
            | #{lastModified.toLocaleString("ja", {timeZone: "Asia/Tokyo"})}
