extends /layout/index.pug

append head
  meta(content='default-src \'self\' https://cdnjs.cloudflare.com/ajax/libs/ https://www.google-analytics.com/',
       http-equiv='Content-Security-Policy')
  title 企画出展者向けページ|東京理科大学みらい研究室

block path
  | ホーム >> 企画出展者向けページ

block article
  | 準備中です。
