link(crossorigin='anonymous',
     href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.min.css',
     integrity='sha384-IsKmaxCapud65aPAZMm/1h4vdlOWLUwSpAcVfLAZGg3Xe5Xf6D9FF6PkEaOSo5ss'
     rel='stylesheet')
