link(crossorigin='anonymous',
     href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css',
     integrity='sha384-i/ZLCOBtDmoxztrtShNvc3vGe1+IbOGDzkZNC4KLXurv/BT7QInnM2AsPnvbgXH/')
