link(crossorigin='anonymous',
     href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css',
     integrity='sha384-7tIwW4quYS2+TZCwuAPnUY+dRqg28ylzlIoVXAwpfiTs+CMKsAOSsWYQ96c/ZnV+'
     rel='stylesheet')
