@keyframes slideshow-keyframes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


#slideshow {
  position: relative;
  width: 800px;
  height: 400px;
  margin: 0 auto;
}

#slideshow img {
  position: absolute;
  top: 0;
  left: 0;
}

#slideshow .next.active {
  animation: 1s ease-in 5s slideshow-keyframes;
  animation-fill-mode: both;
  opacity: 0;
  z-index: 1;
}

#slideshow :not(.active) {
  visibility: hidden;
}
